    https://course.acciojob.com/idle?question=7c027b7d-3d16-4924-aa62-5ef42c11d66f

    Input
    2
    2 5 7 8 9 44 56 12 45 36 3 39 37 35

In [29]:
list1 = []
n = int(input())
list1 = list(map(int,input().strip().split()))

In [33]:
list1

[2, 5, 7, 8, 9, 44, 56, 12, 45, 36, 3, 39, 37, 35]

    Ternary Operator
    List Comprehension
    <value_if_true> if <condition> else <value_if_false>

In [34]:
output_lst=[f'{i} - even' if i%2==0 else f'{i} - odd' for i in list1]

In [35]:
output_lst

[2, 5, 7, 8, 9, 44, 56, 12, 45, 36, 3, 39, 37, 35]

In [43]:
student_name='Rahul'
clas='12'
print(student_name,'is from DA 2','Joined in Feb')

Rahul is from DA 2 Joined in Feb

In [46]:
print(f'{student_name} is from DA 2 \nJoined {student_name} {clas} in Feb')

Rahul is from DA 2
Joined Rahul 12 in Feb

    \n
    \
    \t

In [47]:
print(r'{student_name} is from DA 2 Joined \n {student_name} {clas} in Feb')

{student_name} is from DA 2 Joined \n {student_name} {clas} in Feb

In [49]:
print('{student_name} is from DA 2 Joined \n{student_name} {clas} in Feb')

{student_name} is from DA 2 Joined
{student_name} {clas} in Feb

In [36]:
final_lst=[]
for i in list1:
    if i%2==0:
        final_lst.append(f'{i} - even')
    else:    
        final_lst.append(f'{i} - odd')
    
final_lst

['2 - even',
 '5 - odd',
 '7 - odd',
 '8 - even',
 '9 - odd',
 '44 - even',
 '56 - even',
 '12 - even',
 '45 - odd',
 '36 - even',
 '3 - odd',
 '39 - odd',
 '37 - odd',
 '35 - odd']

In [30]:
n

2

In [31]:
list1

[2, 5, 7, 8, 9, 44, 56, 12, 45, 36, 3, 39, 37, 35]

In [1]:
even_lst=[i for i in range(0,21,2)]

In [2]:
even_lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
no=input()

In [7]:
no

'5,6,7,8,9,10'

In [6]:
type(no)

str

    split() - string function
    default delimiter for split function is space
    5,6,7,8,9,10

In [16]:
str='5,6,7:8:9:10'

In [17]:
str.split(':')

['5,6,7', '8', '9', '10']

In [10]:
str1='5 6 7 8 9 10'

In [11]:
str1.split()

['5', '6', '7', '8', '9', '10']

In [18]:
name=input().split()

In [19]:
name

['Shiraj', 'Ali']

In [22]:
input_list=input().split(',')

In [23]:
input_list

['5', '7', '8', '9', '1', '0', '44', '56']

In [24]:
str='     Shi     hhh   hhh  '

In [25]:
str.strip()

'Shi     hhh   hhh'