    Removing Empty Tuples from a List in Python
    You are given a list of tuples as input. Write a Python program to remove empty tuples from the given list of tuples and display the resulting list.

    Input Format
    The first line contains an integer N, representing the number of tuples in the list.

    The next N lines contain space-separated strings, representing the elements of each tuple.

    Output Format
    Print the resulting list after removing the empty tuples.

    Example 1
    Input

    7
    () ('ram','15','8') () ('laxman','sita') ('krishna','akbar','45') ('','') ()
    Output

    [('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [66]:
N = int(input())  # Read the number of tuples
tuples = []

for _ in range(N):
    tuple_elements = input().split()  # Read the elements of the tuple
    tuples.append(tuple(tuple_elements))  # Convert to tuple and append to the list

result = [t for t in tuples if t]  # Remove empty tuples using list comprehension

for t in result:
    print(t)

('()', "('ram','15','8')", '()', "('laxman','sita')", "('krishna','akbar','45')", "('','')", '()')

In [19]:
N=int(input())
tuple_list=input().split()
out_list=[]
for i in tuple_list:
    if i!='()':
        out_list.append(i)
out_list

["('ram','15','8')",
 "('laxman','sita')",
 "('krishna','akbar','45')",
 "('','')"]

In [23]:
s=[
    [1,2,3],[4,5,6]
]

In [24]:
s[0][0]

1

In [26]:
updated_t_list=list(map(tuple,tuple_list))

In [27]:
for i in updated_t_list:
    print(i,type(i))

('(', ')') <class 'tuple'>
('(', "'", 'r', 'a', 'm', "'", ',', "'", '1', '5', "'", ',', "'", '8', "'", ')') <class 'tuple'>
('(', ')') <class 'tuple'>
('(', "'", 'l', 'a', 'x', 'm', 'a', 'n', "'", ',', "'", 's', 'i', 't', 'a', "'", ')') <class 'tuple'>
('(', "'", 'k', 'r', 'i', 's', 'h', 'n', 'a', "'", ',', "'", 'a', 'k', 'b', 'a', 'r', "'", ',', "'", '4', '5', "'", ')') <class 'tuple'>
('(', "'", "'", ',', "'", "'", ')') <class 'tuple'>
('(', ')') <class 'tuple'>

In [40]:
new_tu=[]
for i in tuple_list:
    new_tu.append(tuple(i[1:-1].replace("'","").split(',')))

In [43]:
new_tu.append(tuple())

In [65]:
for i in new_tu:    
    print(i)  
    for j in i:
        if j=='':
            break
        else:
            print(j)

('',)
('ram', '15', '8')
ram
15
8
('',)
('laxman', 'sita')
laxman
sita
('krishna', 'akbar', '45')
krishna
akbar
45
('', '')
('',)
()

In [13]:
tuple_list

['()',
 "('ram',",
 "'15',",
 "'8')",
 '()',
 "('laxman',",
 "'sita')",
 "('krishna',",
 "'akbar',",
 "'45')",
 "('','')",
 '()']