    Mutable
        data types that can be changed after they are created/declared/initializes
    Immutable
        data types that can't be changed after they are created /declared/initializes

        int
        float
        str
        bool
        => All are immutable according to DA batch 2
        => Vineet mutable

In [ ]:
str='welcome'

    We store dataas elements separated by comma enclosed within square bracket 
    fruit=['apple','banana','orange']
    elements could be
        int
        float
        boolen
        str
        list
        tuple
        dictionary

    indexed
    mapped

In [1]:
my_list=[True,False,45665,456.66915,'Priyanka','Acciojob',[1,2,3]]

In [2]:
my_list

[True, False, 45665, 456.66915, 'Priyanka', 'Acciojob', [1, 2, 3]]

In [7]:
my_list[::2]

[True, 45665, 'Priyanka', [1, 2, 3]]

In [9]:
my_list[-2]

'Acciojob'

In [10]:
my_list[-1::]

[[1, 2, 3]]

In [11]:
my_list[::-1]

[[1, 2, 3], 'Acciojob', 'Priyanka', 456.66915, 45665, False, True]

    x=1
    str='welcome to acciojob'

In [13]:
my_list[3]=457.56

In [14]:
my_list

[True, False, 45665, 457.56, 'Priyanka', 'Acciojob', [1, 2, 3]]

In [16]:
my_list[:2]='qwe'

In [17]:
my_list

['q', 'w', 'e', 45665, 457.56, 'Priyanka', 'Acciojob', [1, 2, 3]]

In [20]:
my_list[3:5]=1,2

    Slicing
        string

In [21]:
my_list

['q', 'w', 'e', 1, 2, 'Priyanka', 'Acciojob', [1, 2, 3]]

In [25]:
my_list[:2]='City'

In [26]:
my_list

['C', 'i', 't', 'y', 'e', 1, 2, 'Priyanka', 'Acciojob', [1, 2, 3]]

    my_list[0]=<single value>

    my_list[:2]
        string - it will replace given range with the current no of character 
        [True, False, 45665, 457.56, 'Priyanka', 'Acciojob', [1, 2, 3]]
        qwe = q w e 
        shiraj = s h i r a j

        int/float/boolean
            if we are giving 2 values in the left side range we have to assign 2 values otherwise we will get error

In [27]:
my_list= [1,2,3]

In [30]:
my_list[:2]=45.6,89.65

In [31]:
my_list

[45.6, 89.65, 3]

In [32]:
str='welcome'

In [35]:
str[2]='t'

TypeError: 'str' object does not support item assignment

In [36]:
type(my_list)

list

    Type Casting
        int()
        float()
        str()
        bool()
        list()

    append() - we can add new element in the last
    extend()
    pop()  
        by default / when on argument is given -it will remove the last element of the list  and it will return the removed element
        If we give the argument it will remove value at that index and return the removed value
    remove()  we can remove first occurance of the element from the list using it
    sort() it will sort all the elements of the list in ascending order to sort in desc we give reverse=True
    clear()
    copy()
    insert()
    count()
    len()
    reverse()
    index()

In [1]:
lst_even=[i for i in range(0,20,2)]

In [5]:
lst_even.append(16)

In [6]:
lst_even.index(16)

8

In [4]:
lst_even.insert(5,45)

In [3]:
lst_even.insert(-1,444)

In [121]:
lst_even.append([1,2,3])

In [122]:
lst_even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, [1, 2, 3]]

In [125]:
lst_even.append('asd')

In [126]:
lst_even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, [1, 2, 3], 1, 2, 3, 'asd']

In [123]:
lst_even.extend([1,2,3])

In [124]:
lst_even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, [1, 2, 3], 1, 2, 3]

In [127]:
lst_even.extend('asd')

In [128]:
lst_even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, [1, 2, 3], 1, 2, 3, 'asd', 'a', 's', 'd']

In [129]:
lst_even.reverse()

In [130]:
lst_even

['d', 's', 'a', 'asd', 3, 2, 1, [1, 2, 3], 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [152]:
lst_even=[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, [1, 2, 3], 1, 2, 3]

In [159]:
type(lst_even[8:])

list

In [153]:
lst_s=lst_even[8:]

In [154]:
lst_s

[16, 18, [1, 2, 3], 1, 2, 3]

In [155]:
lst_s.reverse()

In [158]:
lst_even[0:8]+lst_s

[0, 2, 4, 6, 8, 10, 12, 14, 3, 2, 1, [1, 2, 3], 18, 16]

In [151]:
lst=lst_even[8:].reverse()

TypeError: 'NoneType' object is not iterable

In [145]:
len(lst)

TypeError: object of type 'NoneType' has no len()

In [140]:
lst_s

In [141]:
lst_even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, [1, 2, 3], 1, 2, 3]

In [114]:
lst_even.extend(True)

TypeError: 'bool' object is not iterable

    Whether they are iterable or not
    it means we can iterate each element of that datatype using loop

In [115]:
for  i in 'welcome':
    print(i)

w
e
l
c
o
m
e

In [116]:
for i in [j for j in range(5)]:
    print(i)

0
1
2
3
4

In [117]:
for i in 1:
    print(i)

TypeError: 'int' object is not iterable

In [118]:
for i in True:
    print(i)

TypeError: 'bool' object is not iterable

In [111]:
lst_even

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 10,
 15,
 [1, 2, 3],
 'asd',
 1,
 2,
 3,
 'a',
 's',
 'd']

In [95]:
len(lst_even)

10

In [99]:
lst_even.count(10)

2

In [76]:
lst_2.clear()
lst_2

[]

    List Comprehension

In [37]:
for i in range(5):
    print(i)

0
1
2
3
4

In [38]:
my_list=[1,2,3,4,5,6]  # static list

In [40]:
my_list=[ i for i in range(10)]

In [42]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
my_list.append(111)
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 111, 111, 111]

In [46]:
my_list.pop()

111

In [47]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 111, 111]

In [50]:
my_list.remove(8)

ValueError: list.remove(x): x not in list

In [49]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 9, 111, 111]

In [51]:
my_list.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [55]:
my_list.pop(1)

3

In [57]:
my_list

[2, 4, 5, 6, 7, 9, 111, 111]

In [58]:
my_list.remove(2,4)

TypeError: list.remove() takes exactly one argument (2 given)

In [59]:
my_list

[2, 4, 5, 6, 7, 9, 111, 111]

In [60]:
my_list.remove(111)

In [61]:
my_list

[2, 4, 5, 6, 7, 9, 111]

In [7]:
lst_2=[i for i in range(10,0,-1)]

In [65]:
lst_2

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [66]:
lst_2.sort()

In [67]:
lst_2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
lst_2.sort(reverse=True)

In [74]:
lst_2

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
lst_3=lst_2.copy()

In [80]:
lst_2.sort()

In [79]:
lst_3

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
lst_4=lst_2+lst_3

In [10]:
lst_4

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

    Write a python script to remove duplicate values in a list

In [14]:
lst=[]
for i in lst_4:
    if i not in lst:
        lst.append(i)

    Write a python script to get unique elements

In [16]:
lst=[]
for i in lst_4:
    if lst_4.count(i)==1:
        lst.append(i) 
print(lst)

[]

In [17]:
d_list=[
    [1,2,3],
    [1,2,3],
    [1,2,3],
    [1,2,3],
    [1,2,3],
    [1,2,3]
]

In [18]:
d_list

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [21]:
d_list[0][0]=[4,5,6,7]

In [22]:
d_list

[[[4, 5, 6, 7], 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [24]:
d_list[0][0][2]

6

In [47]:
odd=[i for i in range(1,20,2)]

In [48]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [29]:
odd[0]=[1,2,3]

In [44]:
odd[1:3]

[3, 5]

In [45]:
odd[1:3]=[7,77,99]

In [50]:
odd

[1, 111, 7, 9, 11, 13, 15, 17, 19]

In [49]:
odd[1:3]=[111]

In [ ]:
odd[1:3]='str'