    Day 5 of Python Module
        Tuple
        Set
        Dictionary
        Array

    string
    integer
    float
    boolean

    list

    muttable
    immutable

    List - 
        colection of different data type 
        inclosed in square brackets
        muttable
    
    Tuple - 
        it is immutable
        inclosed in Moon brackets, However it is not mandatory to enclose elements of tuple in moon bracket we can define tuple using comma only.

        Declaration
            Using Moon brackets
            Using comma's
            Using List Comprehension

In [1]:
new_tuple=(1,2,3,4,5,6,7)

In [2]:
type(new_tuple)

tuple

In [3]:
sec_tup=1,2,3,4,5,6

In [4]:
sec_tup

(1, 2, 3, 4, 5, 6)

In [5]:
type(sec_tup)

tuple

In [34]:
even_list=tuple([i for i in range(0,20,2)])

In [6]:
third_tup=1,

In [7]:
type(third_tup)

tuple

In [ ]:
no1_tup,no2_tup=1,

In [19]:
no1_tup,no2_tup=1,2,3

TypeError: cannot unpack non-iterable int object

In [23]:
no1,no2=[1,1,2]

ValueError: too many values to unpack (expected 2)

In [21]:
no1

1

In [22]:
no2

1

In [16]:
type(no1_tup)

int

In [17]:
type(no2_tup)

int

    List Comprehension

In [26]:
even_list=[i for i in range(0,20,2)]

In [27]:
type(even_list)

list

In [ ]:
even_list  = []
for i in range(0,20,2):
    even_list.append(i)

    Tuple Comprehension

In [31]:
even_list=tuple((i for i in range(0,20,2)))

In [35]:
even_list

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [36]:
type(even_list)

tuple

In [37]:
even_list[5]

10

In [42]:
even_list[:6:-1]

(18, 16, 14)

In [45]:
eve=tuple([i for i in range(5)])
eve

(0, 1, 2, 3, 4)

In [46]:
eve2=tuple([i for i in range(5,10)])
eve2

(5, 6, 7, 8, 9)

In [47]:
eve3=eve+eve2
eve3

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [48]:
eve4=eve3+1

TypeError: can only concatenate tuple (not "int") to tuple

In [56]:
lst=[i for i in range(5)]+[1,1,1]
tup=tuple(lst)
st=set(tup)

In [57]:
print('lst',lst)
print('tup',tup)
print('st',st)

lst [0, 1, 2, 3, 4, 1, 1, 1]
tup (0, 1, 2, 3, 4, 1, 1, 1)
st {0, 1, 2, 3, 4}

    Set
        Will give only unique elements
        unordered collection
        Can be defined using curly bracket and set function

In [58]:
st1={1,3,1,5,6,7,3}

In [59]:
st1

{1, 3, 5, 6, 7}

In [60]:
st1[1]

TypeError: 'set' object is not subscriptable

In [61]:
for i in st1:
    print(i)

1
3
5
6
7

    create 2 list 
        1 - even elements till 10
        2 - even elements till 20
        3 - concat lst1 and list2
        give unique elements from list3

In [62]:
lst1= 
lst2= [i for i in range(0,20,2)]

In [63]:
lst3=[i for i in range(0,10,2)]+[i for i in range(0,20,2)]
st=set([i for i in range(0,10,2)]+[i for i in range(0,20,2)])
st

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [65]:
[i for i in range(0,20,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
set([i for i in range(0,10,2)]+[i for i in range(0,20,2)])

In [66]:
set([0, 2, 4, 6, 8]+[0, 2, 4, 6, 8, 10, 12, 14, 16, 18])

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

    add = it will add element in random position
    pop => it will remove the element form random position
    update =>
    remove
    discard

In [68]:
set_num=set((1,20,13,4,15,6,1,15,20))

In [69]:
set_num

{1, 4, 6, 13, 15, 20}

In [70]:
set_num.discard(20)

In [71]:
set_num

{1, 4, 6, 13, 15}

In [73]:
set_num.remove(15)

In [74]:
set_num

{1, 4, 6, 13}

In [75]:
set_num.remove(15)

KeyError: 15

In [76]:
set_num.discard(20)

In [93]:
dir(set_num)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [92]:
set_num

{1,
 13,
 2,
 4,
 5,
 6,
 7,
 8,
 9,
 'a',
 'aaasqwef',
 'abc',
 'b',
 'c',
 'g',
 'i',
 'n',
 'r',
 's',
 't'}

In [91]:
set_num.update('string',[1,2,5,'abc'],'abc',(2,5,6,7,'aaasqwef'),{1,5,6,7,8,9,9,9,9})

In [94]:
dir(set_num)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [95]:
dir(list())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [96]:
dir(tuple())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [97]:
dir(int())

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [98]:
dir(str())

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

    Indexed Data Type
        string
        list
        tuple
    Mapped Data Type
        Dictionary

    Dictionary
        {
            <key>:<value>,
            <key>:<value>,
            .
            .
            .
            <key>:<value>
        }

    We can use only immutable data types a key 
    We can use any data type for value

    Immutable
        int
        float
        string
        tuple
        boolean

    JSON

In [111]:
excel_mock={
    "vineet":4,
    "rishi":4.5,
    "rushikesh":6.5,
    "saurav":6.85,
    "kalyani":7.5,
    "kshitija":3.45,
    "priyanka":3,
    "deepak":7.5,
    1:456,
    True:'True Values',
    1.45:'Float key ',
    (1,2):'Tuple vale'
}
excel_mock

{'vineet': 4,
 'rishi': 4.5,
 'rushikesh': 6.5,
 'saurav': 6.85,
 'kalyani': 7.5,
 'kshitija': 3.45,
 'priyanka': 3,
 'deepak': 7.5,
 1: 'True Values',
 1.45: 'Float key ',
 (1, 2): 'Tuple vale'}

In [112]:
type(excel_mock)

dict

In [113]:
for i in excel_mock:
    print(i)

vineet
rishi
rushikesh
saurav
kalyani
kshitija
priyanka
deepak
1
1.45
(1, 2)

    keys()
    values()
    items()

In [114]:
for i in excel_mock.items():
    print(i)

('vineet', 4)
('rishi', 4.5)
('rushikesh', 6.5)
('saurav', 6.85)
('kalyani', 7.5)
('kshitija', 3.45)
('priyanka', 3)
('deepak', 7.5)
(1, 'True Values')
(1.45, 'Float key ')
((1, 2), 'Tuple vale')

In [115]:
for i in excel_mock.keys():
    print(i)

vineet
rishi
rushikesh
saurav
kalyani
kshitija
priyanka
deepak
1
1.45
(1, 2)

In [116]:
for i in excel_mock.values():
    print(i)

4
4.5
6.5
6.85
7.5
3.45
3
7.5
True Values
Float key
Tuple vale

In [117]:
for i in range(len(excel_mock)):
    print(excel_mock[i])

KeyError: 0

In [118]:
for key,value in excel_mock.items():
    print(key,'=>',value)

vineet => 4
rishi => 4.5
rushikesh => 6.5
saurav => 6.85
kalyani => 7.5
kshitija => 3.45
priyanka => 3
deepak => 7.5
1 => True Values
1.45 => Float key
(1, 2) => Tuple vale

In [119]:
excel_mock['vineet']

4

In [122]:
unique={  
    "vineet":4,
    "rishi":4.5,
    "vineet":5,
    "rishi":4.5
}

In [123]:
unique

{'vineet': 5, 'rishi': 4.5}