    List
    Tuple
    Set
    Dictionary

In [1]:
empty_lst=[]
empty_tup=()
empty_set={}
empty_dict={}

In [2]:
type(empty_lst)

list

In [3]:
type(empty_tup)

tuple

In [4]:
type(empty_set)

dict

In [5]:
my_dict = {
    1: 'apple',
    2: 'ball'
}
print(my_dict)

{1: 'apple', 2: 'ball'}

In [20]:
excel_mock={
    "vineet":4,
    "rishi":4.5,
    "rushikesh":6.5,
    "saurav":6.85,
    "kalyani":7.5,
    "kshitija":3.45,
    "priyanka":3,
    "deepak":7.5,
    1:456,
    1.45:'Float key ',
    (1,2):'Tuple vale',
    "DA Batch 2":['vineet','rishi','aditya']
}

In [8]:
excel_mock['DA Batch 2'][1]

'rishi'

In [9]:
excel_mock.get('DA Batch 2')

['vineet', 'rishi', 'aditya']

In [23]:
excel_mock[1]='new number'

In [24]:
excel_mock

{'vineet': 4,
 'rishi': 4.5,
 'rushikesh': 6.5,
 'saurav': 6.85,
 'kalyani': 7.5,
 'kshitija': 3.45,
 'priyanka': 3,
 'deepak': 7.5,
 1: 'new number',
 1.45: 'Float key ',
 (1, 2): 'Tuple vale',
 'DA Batch 2': ['vineet', 'rishi', 'aditya']}

In [25]:
dir(excel_mock)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [26]:
excel_mock

{'vineet': 4,
 'rishi': 4.5,
 'rushikesh': 6.5,
 'saurav': 6.85,
 'kalyani': 7.5,
 'kshitija': 3.45,
 'priyanka': 3,
 'deepak': 7.5,
 1: 'new number',
 1.45: 'Float key ',
 (1, 2): 'Tuple vale',
 'DA Batch 2': ['vineet', 'rishi', 'aditya']}

In [27]:
sim_dict={
    'name':'Something',
    'age':25,
    'phone':97984198461,
    'country':'Some Country'
}

In [28]:
excel_mock.update(sim_dict)

In [42]:
excel_mock

{'vineet': 4,
 'rishi': 4.5,
 'rushikesh': 6.5,
 'saurav': 6.85,
 'kalyani': 7.5,
 'kshitija': 3.45,
 'priyanka': 3,
 'deepak': 7.5,
 1: 'new number',
 1.45: 'Float key ',
 'DA Batch 2': ['vineet', 'rishi', 'aditya'],
 'age': 25}

In [30]:
excel_mock.update({'country':'India'})

In [39]:
excel_mock.pop('name')

'Something'

In [41]:
excel_mock.popitem()

('phone', 97984198461)

In [43]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [44]:
ev_lst=[i for i in range(0,20,2)]

In [ ]:
for i in ev_lst:
    print(i)

In [ ]:
for key, value in excel_mock.items():
    print(key, value)

In [1]:
dict_comp={i:i**2 for i in range(10)}

In [2]:
dict_comp

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
print()
input()
int()
list()
tuple()

    import <name of the module>

In [9]:
import array

    i - int
    f - float
    s - string

    pandas
    numpy
    matplotlib
    seaborn
    sklearn

In [10]:
array.array('f',[1,2,3.0])

array('f', [1.0, 2.0, 3.0])

In [11]:
import array as ar

In [12]:
ar.array('i',(1,2,3,4,5,6))

array('i', [1, 2, 3, 4, 5, 6])

In [13]:
even_lst=[i for i in range(0,20,2)]

In [16]:
arr=ar.array('i',even_lst)
arr

array('i', [0, 2, 4, 6, 8, 10, 12, 14, 16, 18])

    How can we access elemets of the array

In [18]:
arr[5:]

array('i', [10, 12, 14, 16, 18])

In [19]:
import array as ar
eve_arr= ar.array('i',[i for i in range(0,21,2)])
odd_arr= ar.array('i',[i for i in range(1,20,2)])

In [20]:
eve_arr

array('i', [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20])

In [21]:
odd_arr

array('i', [1, 3, 5, 7, 9, 11, 13, 15, 17, 19])

In [22]:
eve_arr+odd_arr

array('i', [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19])

In [23]:
eve_arr-odd_arr

TypeError: unsupported operand type(s) for -: 'array.array' and 'array.array'

In [25]:
eve_arr*odd_arr

TypeError: can't multiply sequence by non-int of type 'array.array'

In [26]:
eve_arr/odd_arr

TypeError: unsupported operand type(s) for /: 'array.array' and 'array.array'

In [27]:
eve_arr+10

TypeError: can only append array (not "int") to array

In [29]:
eve_arr*3
eve_arr+eve_arr+eve_arr

array('i', [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20])

    Functions
        print()
        Inbuilt - Already defined in Python Modules
        User-defined - Defined by the user

        Function without argument without return type
        Function without argument with return type
        Function with argument without return type
        Function with argument with return type

    Functions
    Syntax
    def <function_name>(<argument_list>):
        <block of code>

In [30]:
print('Hello Vineet.')
print('Welcome to Acciojob')

Hello Vineet.
Welcome to Acciojob

In [ ]:
print('Hello Rishi.')
print('Welcome to Acciojob')

In [ ]:
print('Hello Aditya.')
print('Welcome to Acciojob')

In [ ]:
print('Hello Vineet.')
print('Welcome to Acciojob')

In [33]:
def welcome():
    print('Hello')
    print("Welcome to the program")

In [34]:
welcome()

Hello
Welcome to the program

    Function with argument without return type

In [35]:
def welcome_student(name):
    print(f'Hello {name}')
    print("Welcome to the program")

    Calling the function

In [37]:
welcome_student('Vineet')

Hello Vineet
Welcome to the program

    Function without argument without return type
    Function without argument with return type
    Function with argument without return type
    Function with argument with return type

    Write a python code to check if person is eligible for vote or not using function

In [38]:
def check_voter(age):
    if age >= 18:
        print('Eligible')
    else:
        print("Not Eligible")

In [40]:
check_voter(int(input()))

Not Eligible

    Function with argument with return type

In [41]:
def check_voter(age):
    status=''
    if age >= 18:
        status='Eligible'
    else:
        status='Not Eligible'
    return status

In [45]:
result=check_voter(15)

In [46]:
result

'Not Eligible'

In [ ]:
input('Do you have voter ID')

In [53]:
def welcome_onboard():
    
    return "Welcome to the program"

In [54]:
result=welcome_onboard()

In [55]:
print(result)

Welcome to the program

Radha is planning to buy a house that costs $1,260,000. She considering two options to finance her purchase:

Option 1: Make an immediate down payment of $300,000, and take loan 8-year loan with an interest rate of 10% (compounded monthly) for the remaining amount.
Option 2: Take a 10-year loan with an interest rate of 8% (compounded monthly) for the entire amount.
Both these loans have to be paid back in equal monthly installments (EMIs). Which loan has a lower EMI among the two?

Since we need to compare the EMIs for two loan options, defining a function to calculate the EMI for a loan would be a great idea. The inputs to the function would be cost of the house, the down payment, duration of the loan, rate of interest etc. We'll build this function step by step.

First, let's write a simple function that calculates the EMI on the entire cost of the house, assuming that the loan must be paid back in one year, and there is no interest or down payment.

In [72]:
def loan_emi_sec(cost,time,rate):
    final_amount= cost*(1+(rate/12))**(12*time)
    emi=final_amount/(time*12)
    return round(final_amount,2),round(emi,2)

In [73]:
loan_emi_sec(1260000,10,0.08)

(2796746.7, 23306.22)

In [74]:
def loan_emi_first(cost,time,rate,downpayment):
    final_amount= (cost-downpayment)*(1+(rate/12))**(12*time)
    emi=final_amount/(time*12)
    return round(final_amount,2),round(emi,2)

In [75]:
loan_emi_first(1260000,8,0.10,300000)

(2129448.61, 22181.76)

In [3]:
def loan_emi(cost,time,rate,downpayment=0):
    final_amount= (cost-downpayment)*(1+(rate/12))**(12*time)
    emi=final_amount/(time*12)
    return round(final_amount,2),round(emi,2),round(final_amount-(cost-downpayment))

In [4]:
print(f' First Option {loan_emi(1260000,8,0.10,300000)}')
print(f' Second Option {loan_emi(1260000,10,0.08)}')

 First Option (2129448.61, 22181.76, 1169449)
 Second Option (2796746.7, 23306.22, 1536747)

    Type of Argumensts
        Positional
        Keyword
        Default

In [88]:
def add(no1,no2,no3=15):
    print(f'no1 => {no1}')
    print(f'no2 => {no2}')
    print(f'no3 => {no3}')
    print(f'Result => {no1+no2+no3}')

    insert into table_name values()
    insert into table_name (col2,col1,col3) values(col2_value)

In [89]:
add(no2=5,no1=6)

no1 => 6
no2 => 5
no3 => 15
Result => 26