    Constant

In [1]:
1

1

In [3]:
-1

-1

    Bool - 1,0  Yes,NO  [True False]
    Int
    String = I have use  single quotes ' or double quotes  "
    Float - Decimal Value

    type()

In [ ]:
1

In [10]:
type(1)

int

In [11]:
type(True)

bool

In [12]:
type('True')

str

In [8]:
True

True

In [9]:
15.2

15.2

In [5]:
a='siraj'

In [7]:
a

'siraj'

    Type Casting / Conversion

    Int = int()
        Bool = bool()
        Float = float()
        String = str()

In [13]:
bool(1)

True

In [14]:
bool(0)

False

In [15]:
bool(-1)

True

In [16]:
bool(99999999)

True

In [17]:
float(0)

0.0

In [18]:
float(459546456)

459546456.0

In [19]:
str(123131321)

'123131321'

    bool
        int
        float
        str

In [20]:
int(True)

1

In [21]:
float(True)

1.0

In [22]:
str(True)

'True'

    float

In [23]:
int(459.000)

459

In [24]:
str(4564646.02156163)

'4564646.02156163'

In [25]:
bool(456.366)

True

    String
        Bool
        Int
        Float

In [26]:
int('1')

1

In [27]:
int('Ali')

ValueError: invalid literal for int() with base 10: 'Ali'

In [28]:
bool('True')

True

In [29]:
bool('Ali')

True

    Slicing

In [30]:
hello='Welcome to Python Module'

    <variable name>[<start index> : <End Index +1> : <Step>]
        If Step is positive indexing will go from left to right
        if step is negative indexing will go from right to left

        Default Values
            Start Index     start Index
            End Index       Last index
            Step            1
    hello[12]

In [31]:
hello

'Welcome to Python Module'

In [32]:
hello[12]

'y'

In [33]:
hello[18]

'M'

In [34]:
hello[-6]

'M'

In [35]:
hello[11]+hello[12]+hello[13]+hello[14]+hello[15]+hello[16]

'Python'

In [37]:
hello[11:17]

'Python'

In [50]:
hello[-13:-7]

'Python'

In [42]:
name='siraj'

In [49]:
name[-6:-1]

'sira'

In [56]:
hello[::1]

'Welcome to Python Module'

In [55]:
hello[:7:]

'Welcome'

    + - * / // %
    == != >= <=>
    and or not

In [57]:
4+5

9

In [58]:
9-4

5

In [59]:
5*5

25

In [62]:
int(15/6)

2

In [63]:
15//6

2

    Dividend = Divisor * Quotient  + Remainder

In [64]:
15%6

3

    <Logical Condition / test>
        True 
        False

    =   Assignment Operator
    ==  Comparison

In [66]:
1=='1'

False

In [68]:
1>=1

True

In [70]:
1<=1

True

In [71]:
1!=1

False

In [72]:
1==1 and 2==2 and 3==3

True

In [73]:
1==1 and 2==2 or 3==4

True

In [78]:
country ='India\'s'
country
    # \ - escape Character
    # \n - new LIne
    # \t - tab

"India's"

In [80]:
country="India's"
country='India"ns'
country

'India"\\ns'

In [81]:
a='Hello'
b='world'

In [88]:
print(a+'\t'+b)

Hello	world