    List Comprehension
    Dict Comprehension
    While Loop
    For Loop
    Function

In [ ]:
lst=[1,2,3]

        *
       * *
      * * *
     * * * *
    * * * * *

    Count the number of even nos between 1 to 50

    When to use loop
        When we see any repeating pattern
    We will have to identify how many times we have to run the loop / iterate the loop
    To know that, we need to find out the length of the pattern.

In [4]:
count_even=0
for i in range(1,51): # initiated the loop - this loop will run 50 times
    if i%2==0:  # conditional sttement to check if value of i is multiple of 2
        count_even+=1 # if value is multiple of 2 increase count by 1
        
print(f'No of even nos between 1 to 50 => {count_even}')

No of even nos between 1 to 50 => 25

In [6]:
len([i for i in range(1,50,2)])

25

    Take a input from the user and print first 10 multiple of that

In [8]:
no = int(input('Enter the no - '))

for i in range(1,11):
    print(f'{no} x {i} = {no*i}')
len([i for i in range(1,50,2)])

25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250

25

    Simple Interest 
        PRT/100
    Compound Interest
        A = P (1 + r)t

    There was boy Ajit, who was qurious about Data Science he planned to upskill himself through Acciojob.For that he need loan of 80k

    There were two options for that
        Option 1 = take loan with 7 Rate of interest for 5 years
        Option 2 he can pay downpayment of 15k and for rest of the money he can take loan with rate of interest 8 for 3 years

    Write a python function to implement the same.

In [15]:
opt_1_total_amount=round(80000 * (1 + 0.07 ) ** 5,2)
EMI=opt_1_total_amount/(5*12)
interest=opt_1_total_amount-80000
opt_1_total_amount,EMI,interest

(112204.14, 1870.069, 32204.14)

In [17]:
opt_1_total_amount=round((80000-15000) * (1 + 0.08 ) ** 3,2)
EMI=opt_1_total_amount/(3*12)
interest=opt_1_total_amount-(80000-15000)
opt_1_total_amount,EMI,interest

(81881.28, 2274.48, 16881.28)

In [20]:
def compound_interest_opt_1(p,r,t):
    opt_1_total_amount=round(p * (1 + r ) ** t,2)
    EMI=opt_1_total_amount/(t*12)
    interest=opt_1_total_amount-p
    print(opt_1_total_amount,EMI,interest)
compound_interest_opt_1(90000,0.15,5)

181022.15 3017.0358333333334 91022.15

In [ ]:
def compound_interest_opt_1(p,r,t,d):
    opt_1_total_amount=round((p-d) * (1 + r ) ** t,2)
    EMI=opt_1_total_amount/(t*12)
    interest=opt_1_total_amount-(p-d)
    opt_1_total_amount,EMI,interest