    String
    List
    Tuple
    Dict

    Declaration

    str()
    int()
    bool()
    float()
    list()
    tuple()
    dict()

In [ ]:
input_str = {{1,1,1,1},{2,3,4,5}}
input_list = [list(map(int, pair.strip('{}').split(','))) for pair in input_str[2:-2].split("},{")]

print("2D List:", input_list)

In [1]:
a=''
type(a)

str

In [2]:
lst=[]
type(lst)

list

In [3]:
tup=()
type(tup)

tuple

In [4]:
tup2=1,
type(tup2)

tuple

In [5]:
dct={}
type(dct)

dict

    Accessing the Element

In [29]:
st1='Siraj Ali'
ls1=['India','Delhi']
tup=tuple(ls1)
dct=dict(zip(ls1,ls1))

In [10]:
dict(zip(ls1,ls1))

{'India': 'India', 'Delhi': 'Delhi'}

In [12]:
tuple(zip(ls1,ls1))

(('India', 'India'), ('Delhi', 'Delhi'))

In [13]:
list(zip(ls1,ls1))

[('India', 'India'), ('Delhi', 'Delhi')]

In [11]:
ls1

['India', 'Delhi']

    ['India', 'Delhi']
    ['India', 'Delhi']
    {
        'India': 'India',
        'Delhi': 'Delhi'
    }
    (('India', 'India'), ('Delhi', 'Delhi'))

    Zip 
    Lambda
    List COmprehension
    Map
    Apply

In [24]:
ls1=[1,2,3,4,5,6,7,8]
ls2=['a','b','c','d','e','f','g']

In [25]:
list(zip(ls1,ls2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'), (7, 'g')]

In [16]:
list(zip(ls2,ls1))

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6), ('g', 7)]

In [26]:
dc=dict(zip(ls2,ls1))
dc

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7}

In [27]:
dc.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6), ('g', 7)])

In [30]:
st1,ls1,tup,dct

('Siraj Ali',
 ['India', 'Delhi'],
 ('India', 'Delhi'),
 {'India': 'India', 'Delhi': 'Delhi'})

    S   i   r   a   j       A   l   i
    0   1   2   3   4   5   6   7   8

In [31]:
st1[5]

' '

    If we have to extract consecutive Elements

    start_index
    end_index
    step

In [32]:
st2='New Delhi is capital of India'

In [34]:
st2[4:9]

'Delhi'

In [36]:
st2[::4]

'NDi i Ia'

    Create a list and tuple and apply slicing

In [37]:
ls1=[1,2,3,4,5,6,8,9,12,9,12,51,4,5,1,451,2,561,5,41,5,1,5,1,5,1,51,5,12,5,15,25]

In [39]:
tu1=tuple(ls1)

In [40]:
ls1[:5]

[1, 2, 3, 4, 5]

In [41]:
ls1[::5]

[1, 6, 12, 451, 5, 1, 15]

    print()
    input()

In [42]:
input()

'Siraj'

In [43]:
st=input()
st

'78945613'

In [50]:
st='qw@qw@qwe@qawrda cdfs@aqedqd@dfcassdafc@cadscsac'

In [51]:
st.split()

['qw@qw@qwe@qawrda', 'cdfs@aqedqd@dfcassdafc@cadscsac']

In [47]:
a='India Delhi'

In [48]:
a.split()

['India', 'Delhi']

    Write a python script to take a list of name of fruit in single line and store that as a list

In [69]:
lst_of_fruits=split(input())

NameError: name 'split' is not defined

In [76]:
# apple,banana,orange
lst_of_fruits=input('Enter list of fruits')
lst_of_fruits

'apple,banana,orange'

In [77]:
# apple,banana,orange
lst_of_fruits.split(',')

['apple', 'banana', 'orange']