    Python
        Coding lang
        Visulaization
        Library / Module
        Easy to learn
        Used for Mathematical operations
        Can be used for web development also

    Java
    C
    C++
    C#
    JavaScript
    SQL
    R
    Scala
    Swift
    PHP
    HTML
    CSS
    Bootstrap
    NodeJS
        VueJS
        ReactJS
            NextJS
        MongoDB
        ExpressJS
        AngularJS
    SQl
    NOSQL
    Oh bhai

    Business Problem
    Analytical Problem
        Problem Statements
        Solve Problem Statements through Tables/ Visualization / Dashboard
    Analytical Solution - Insights
    Business Sol - Decision Making

    Flow chart for data Analysis
        Data Collection
        Data Ingestion
        Data Cleaning
        Data Transformation
        Data Visualization
        Models 

    Statistics
    1. Descriptive statistics: mean, median, mode, range, variance, standard deviation, skewness and kurtosis
    2. Inferential statistics: hypothesis testing (t-test, chi-square test), regression analysis (simple linear regression)

    Python
        Core Concepts
            Variable
            Constants
            Operators
                Arithmatic Operators
                Logical
                Comparison
                Equality
            Data Types
                Primary Data Types
                    Boolean
                    Integer
                    Float
                    String
                    Complex Data Types
                Secondary Data Types
                    List
                    Tuple
                    Set
                    Dictionary
                    Array
            Conditional Statements
                Simple If
                If Else
                elif Ladder
                Nested if else ladder
            Control Flow Statements
                Loops
                    While 
                    For
                break
                pass
                continue
            Function
                Inbuilt Functions
                    Numeric fuctions
                    String Function
                    List Function
                    Dict Function
                    Tuple
                User Defined Function
                    Define a function
                    Types of function on basis of Argument and return type
            Exception Handling
                try
                catch
                else
                finally
            **OOPS
                class and objects
                Advantanges
                    Polymorphism
                    Abstraction
                    Encapsulation
                    Inheritance
            ** File Handling
                Read
                Write
                Append
                Extend
        Data Manupulation / Data Tranformation
            Numpy
                Array
                How to use different Statistical functions with array
            Pandas
                Series
                DataFrame
        Data Visualization
            Matplotlib
            **Seaborn
            **sklearn

    Offline application
        VS Code 
            https://www.python.org/downloads/
            https://code.visualstudio.com/download
        Anaconda - Jupyter Notebook 
            https://www.anaconda.com/download
        Spyder
        Pycharm
    Online Platform
        Google Colab

    Jupyter Notebook .ipynb
        Cells
        Markdown
    Python .py

    Command Prompt
        cd => change directory
        mkdir => make directory
        dir => to get the list of directory
    How to run python code in Cmd
        python <file_name>
            python day1.py

    Core Topics
        Two session
    Numpy

In [1]:
print("Welcome to Python Module")

Welcome to Python Module

In [3]:
print(1)
print(2)

1
2

In [ ]:
1
2
3
4
5
6
7
8

    Constants
    Variable
        How to define Variable
        <variable_name> = <variable_value>
        = assignment operator

        Rules to define variable name
            it will start with alphabatic letter and underscore.
            It can contain letters, digits and underscore(_).

In [16]:
_b=5

In [11]:
a=1
b=234
c=456

In [7]:
b

234

In [12]:
c

456

In [18]:
print(a)

1

In [6]:
a

1

    Data Types
        Boolean => 0,1 True False
        Integer => -2^31 to 2^31-1
            1 2 -1 -2
        Float   => -2^64 to 2^64-1
            1.2 5.6 -9.45
        String  => up to 256 characters of UTF8 encoded text.   
            "Hello World"
            'Hello World'

In [17]:
print(a)   # this is a variable
print("a") # this is a string value

1
a

Siraj Ali

    Siraj Ali

# Siraj Ali

## Siraj Ali

    print(end=" ")
        by default end is new line => \n
        Tab Space \t

In [19]:
print("Siraj Ali")
print("Acciojob")

Siraj Ali
Acciojob

In [21]:
print("Siraj Ali",end="@")
print("Acciojob")

Siraj Ali@Acciojob

    \t

In [23]:
print("Siraj",end="")
print("Acciojob")

SirajAcciojob

In [24]:
print("Siraj",end="\t")
print("Acciojob")

Siraj	Acciojob

    \n

In [25]:
print("Siraj",end="")
print("Acciojob")

SirajAcciojob

In [26]:
print("Siraj",end="\n")
print("Acciojob")

Siraj
Acciojob

    type() => it is used to check the data type of the variable

In [27]:
type(1)

int

In [28]:
type(True)

bool

In [29]:
type('True')

str

In [30]:
type(12.5)

float

    Implicit  => When the interpretor automatically converts one data type to another without explicit declaration, it is called implicit type casting.

    Explicit
    Type Casting => Change datatype
        Functions for type casting
            int()
            bool()
            float()
            str()
        True => int

In [31]:
a=True

In [32]:
type(a)

bool

In [33]:
int(a)

1

In [34]:
int(False)

0

In [35]:
type(int(False))

int

In [36]:
float(True)

1.0

In [37]:
str(True)

'True'

    Int Type Casting

    Every inteer will be converted into True 
    except 0

In [38]:
bool(1)

True

In [39]:
bool(0)

False

In [40]:
bool(-11111111)

True

In [41]:
bool(99999999999)

True

In [43]:
bool(1.0)

True

In [44]:
bool('Acciojob')

True

In [45]:
bool('Siraj')

True

    String Type Casting

In [42]:
str(True)

'True'

In [47]:
type(str(1))

str

In [48]:
int('Siraj')

ValueError: invalid literal for int() with base 10: 'Siraj'

    String Formating
        f string
        r string

In [51]:
a='Sohel'
b='Ajit'
c='Kajal'

In [55]:
print(a,b,c)
print(a)

Sohel Ajit Kajal
Sohel

In [56]:
print("Welcome to python module a")

Welcome to python module a

In [57]:
print("Welcome to python module",a)

Welcome to python module Sohel

In [58]:
welcome="Welcome to python module"

In [59]:
print(welcome,a)

Welcome to python module Sohel

    f String
        Fiyaz got 7 in excel, 6 in sql and 4 in powerbi

In [67]:
name='Fiyaz'
excel=9
sql=6
powerbi=4

In [69]:
print(name,"got",excel,"in excel,",sql ,"in sql and",powerbi,"in powerbi.")

Fiyaz got 9 in excel, 6 in sql and 4 in powerbi.

In [68]:
print("Fiyaz got 7 in excel, 6 in sql and 4 in powerbi")

Fiyaz got 7 in excel, 6 in sql and 4 in powerbi

In [70]:
print(f'{name} got {excel} in excel, {sql} in sql and {powerbi} in powerbi')

Fiyaz got 9 in excel, 6 in sql and 4 in powerbi

In [73]:
print("\t Siraj \n Acciojob")

	Siraj
 Acciojob

In [74]:
print(r"\tSiraj \nAcciojob")

\tSiraj \nAcciojob

In [76]:
a="India's"
a

"India's"

In [77]:
b='India"s'
b

'India"s'

    Arithmatic
        +
        -
        *
        /
        %
        //
        **

    Dividend = divisor * quotient + Remainder

In [80]:
1+2

3

In [81]:
2-3

-1

In [82]:
5*6

30

In [83]:
6/5

1.2

In [84]:
6//5

1

In [85]:
14%3

2

In [88]:
2**5

32

    Logical
        not
        or
        and

    Comparison
        >
        <
        ==
        !=
        <=
        >=