    Recap
        Numpy
        Lambda
    
    How to connect different data files in python
        Excel
        SQL

    Use Case
        Bigmart
        Tiktok

    Numpy
        arr=np.array()=> create a numpy array
        arr.ndim
        arr.size
        arr.shape
        arr.dtype

        Scalar

        arr*2

        1 D => row/col like structure
        2 D => Tabular Structure row/ column

        N D => any dimension

        Matrix in Mathematics => all operations relation to matrix
        Linear algebra

        Statistical operations
            mean
            mdian
            mode
            var
            covar
            std

        np.ones()
        np.zeros()
        np.full()

    Lambda function => Inline Fucntion
    Syntax
        lambda <list of arguments> : <logic>

In [ ]:
def con_upper(x):
    return x.upper()
type(con_upper('siraj'))

In [ ]:
add = lambda x,y : x+y
add(5,6)

    map(<function_name>,iterable)

In [ ]:
even_lst=[i for i in range(2,22,2)]
even_lst

In [ ]:
odd_lst=[i for i in range(1,20,2)]
odd_lst

In [ ]:
lambda x:x**2

In [ ]:
list(map(lambda x:x**2,even_lst))

In [ ]:
list(map(lambda x,y : x+y,even_lst,odd_lst))

In [ ]:
even_lst*2

In [ ]:
import pandas as pd
import numpy as np

    df=pd.DataFrame({
        'Col_name':<list of values>,
    })

In [ ]:
df=pd.DataFrame({
    'Even_No':even_lst,
    'Odd_No':odd_lst    
})
df.head()

In [ ]:
df['Even_No'].apply(lambda x:x**2)

In [ ]:
df['Even_No']

In [ ]:
df.apply(lambda row: row['Even_No']+row['Odd_No'],axis=1)

In [ ]:
df.apply(lambda row: row[1]+row[2],axis=0)

    read_csv()
    read_excel()
    read_sql()

In [ ]:
all_cols='timestamp	account_id	nickname	biography	awg_engagement_rate	comment_engagement_rate	like_engagement_rate	bio_link	is_verified	followers	following	likes	videos_count	create_time	id	top_videos	url	profile_pic_url'

In [ ]:
df_cols=all_cols.split()
df_cols

In [ ]:
df_req_cols=df_cols[:-3]
df_req_cols

In [ ]:
df_tiktok=pd.read_csv('../data/tik_tok.csv')
df_tiktok.columns

In [ ]:
df_tiktok=pd.read_csv('../data/tik_tok.csv',usecols=df_req_cols)
df_tiktok.columns

    read_excel()

In [ ]:
! pip install openpyxl

In [ ]:
df_superstore=pd.read_excel('../data/super_store.xlsx')
df_superstore.head()

In [ ]:
df_orders=pd.read_excel('../data/super_store.xlsx',sheet_name='People')
df_orders.head()

In [ ]:
df_return=pd.read_excel('../data/super_store.xlsx',sheet_name='Returns')
df_return.head()

In [ ]:
df_superstore=pd.read_excel('../data/super_store.xlsx',sheet_name=['Orders','People','Returns'])
df_superstore['Orders'].head()

In [ ]:
df_superstore['Returns']

In [ ]:
df_superstore['People']

In [ ]:
df_People=pd.read_excel('../data/super_store.xlsx',sheet_name='People',na_values=['South','Chuck Magee'],header=1)
df_People

In [ ]:
df_Orders=pd.read_excel('../data/super_store.xlsx',usecols=['Order Date'],parse_dates=['Order Date'])
df_Orders.head(3)

In [ ]:
df_Orders.info()

In [ ]:
import datetime as dt

In [ ]:
pd.to_datetime(df_Orders['Order Date'])

In [ ]:
df_Orders['Order Date'].dt.strftime('%d-%m-%Y %H')

In [ ]:
df_Orders.info()

    read_sql()

    pymysql
    A pure Python MySQL client library. It is designed to be easy to use and provide a high level of flexibility. The code is fully documented

In [ ]:
! pip install pymysql

In [ ]:
import pymysql as ps

In [ ]:
conn=ps.connect(
    host='localhost',
    user='python_user',
    password='python@123',
    database='python',
    port=3306  
)

In [ ]:
with conn:
    with conn.cursor() as cur:
        query='''
            Create table if not exists user(
                id int,
                name varchar(50)
            )
        '''
        cur.execute(query=query)

    TCL
        commit()
        rollback()
        savepoint()

In [ ]:
with conn:
    with conn.cursor() as cur:
        query='''
            insert into user values (1,'a'),(2,'b'),(3,'c')
        '''
        cur.execute(query=query)
        conn.commit()

In [ ]:
with conn:
    with conn.cursor() as cur:
        query='''
            select * from user
        '''
        cur.execute(query=query)
        result = cur.fetchall()
        for row in result:
            print(row)

In [ ]:
df_student = pd.read_csv('../data/student_records.csv')
df_student

In [ ]:
df_student.to_sql(name='student',con=conn,if_exists='replace')

In [ ]:
! pip install sqlalchemy

    "driver://user:password@host:port/database"

In [4]:
from sqlalchemy import create_engine
 
user = 'python_user'
password = 'python123'
host = '127.0.0.1'
port = 3306
database='python'
 
def get_connection():
    return create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    ).connect()
engine = get_connection()

In [ ]:
df_student.to_sql(name='student',con=engine,if_exists='replace')

In [ ]:
df_big_mart=pd.read_csv('../data/bigmart_data.csv')
df_big_mart.head()

In [ ]:
df_big_mart.to_sql(name='big_mart',con=engine,if_exists='append')

In [ ]:
df_bigmart=pd.read_sql('select * from big_mart where Item_Type="Dairy"',con=engine)
df_bigmart.head()

In [2]:
import pandas as pd

In [5]:
df_bg=pd.read_sql_table(table_name='big_mart',con=engine)
df_bg.shape

(17046, 13)

In [6]:
df_bg.to_csv('../data/bg.csv',index=False)