    Slicing/Indexing
    Secondary Data Types
        List => append,extend
        Tuple
        Set
        Dictionary
        Array

In [1]:
quo="Welcome to Acciojob"

In [2]:
type(quo)

str

    Slicing/Accessing the elements
        To access single Element => <variable>[<index>]
        To access continuos element =><variable>[start_index:end_index]
            quo[0:6]
                0,1,2,3,4,5
        <variable>[start_index:end_index:step]
            Default value for 
                step is 1
                start_index => 0
                end_index => length of the variable+1

In [3]:
quo[0]

'W'

In [4]:
quo[-19]

'W'

In [5]:
quo[0:6]

'Welcom'

In [6]:
quo[0:7]

'Welcome'

In [7]:
quo[11:19]

'Acciojob'

In [9]:
quo[:7]

'Welcome'

In [10]:
quo[11:]

'Acciojob'

In [11]:
quo[:]

'Welcome to Acciojob'

In [12]:
quo[::2]

'Wloet cijb'

In [13]:
quo[::]

'Welcome to Acciojob'

In [14]:
quo,quo[:],quo[::]

('Welcome to Acciojob', 'Welcome to Acciojob', 'Welcome to Acciojob')

    We want to print Wlo

In [15]:
quo[:5:2]

'Wlo'

In [21]:
quo[-19:-12]

'Welcome'

    Write a python script to reverse the values!

In [23]:
name='Siraj'

In [26]:
name[-1:-6:-1]

'jariS'

In [27]:
name[::-1]

'jariS'

    print until you get this no
        19

In [28]:
quo[::-1]

'bojoiccA ot emocleW'

In [30]:
quo[-1:-20:-2]

'bjic teolW'

In [31]:
len(quo)

19

In [32]:
name='shjinbol'

In [35]:
up_name=name.upper()
up_name

'SHJINBOL'

In [36]:
up_name.lower()

'shjinbol'

In [37]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [38]:
name.isspace()

False

In [49]:
sr=' '

In [39]:
quo.isspace()

False

In [50]:
sr.isspace()

True

In [51]:
a='jklfhnbjkl;adh'

In [52]:
a.capitalize()

'Jklfhnbjkl;adh'

In [ ]:
a.capitalize()

    List
        It is a collection of ordered elements
        It can contain any element
            boolen
            int
            float
            string
            list
    [ele1,ele2,ele3]

In [54]:
a=[1,2,3]
a

[1, 2, 3]

In [55]:
b=[
    True,                       
    99999,
    4545125.45454,
    'Delhi',
    [1,2,False,'Acciojob']
    ]

In [56]:
b

[True, 99999, 4545125.45454, 'Delhi', [1, 2, False, 'Acciojob']]

In [62]:
b[4]

[1, 2, False, 'Acciojob']

In [64]:
b[4][3]

'Acciojob'

In [57]:
b[0]

True

In [58]:
b[3]

'Delhi'

In [59]:
b[-2]

'Delhi'

In [60]:
a=[]

In [61]:
type(a)

list

In [65]:
list_2d=[
    [1,2,3,4],      #0
    [4,5,6,7],      #1
    [11,12,15,16]   #2
]

In [68]:
list_2d[0][2]

3

In [69]:
list_2d[2][2]

15

In [74]:
list_3d=[
    [
        [
            [1,2],
            [3,4]
        ],
        [[5,6],[7,8]],
        [[9,0],[1,2]],
        [[3,4],[5,6]]
        
    ],
    [
        [[9,0],[1,2]],[[3,4],[5,6]]
    ]
]

In [78]:
list_3d[0][0][1][1]

4

In [83]:
list_3d[-2][-4][-1][-1]

4

In [84]:
l1=[1,2,3,4,5,6,7]
l1

[1, 2, 3, 4, 5, 6, 7]

In [85]:
len(l1)

7

In [86]:
rev_l1=l1[::-1]
rev_l1

[7, 6, 5, 4, 3, 2, 1]

In [87]:
dir(l1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [88]:
l1

[1, 2, 3, 4, 5, 6, 7]

In [89]:
l1.append(11)
l1

[1, 2, 3, 4, 5, 6, 7, 11]

In [90]:
l1.extend(111)
l1

TypeError: 'int' object is not iterable

    Iterable/Indexing
        string
        list

In [91]:
l1.extend('Delhi')
l1

[1, 2, 3, 4, 5, 6, 7, 11, 'D', 'e', 'l', 'h', 'i']

In [92]:
l1.extend([True,False])
l1

[1, 2, 3, 4, 5, 6, 7, 11, 'D', 'e', 'l', 'h', 'i', True, False]

In [93]:
l1.append(['a0',5])
l1

[1, 2, 3, 4, 5, 6, 7, 11, 'D', 'e', 'l', 'h', 'i', True, False, ['a0', 5]]

In [ ]:
l1.append(quo)
l1

In [95]:
l1.extend(quo)
l1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 11,
 'D',
 'e',
 'l',
 'h',
 'i',
 True,
 False,
 ['a0', 5],
 'Welcome to Acciojob',
 'W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'A',
 'c',
 'c',
 'i',
 'o',
 'j',
 'o',
 'b']

In [96]:
l1.insert(1,'d')

In [97]:
l1

[1,
 'd',
 2,
 3,
 4,
 5,
 6,
 7,
 11,
 'D',
 'e',
 'l',
 'h',
 'i',
 True,
 False,
 ['a0', 5],
 'Welcome to Acciojob',
 'W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'A',
 'c',
 'c',
 'i',
 'o',
 'j',
 'o',
 'b']

In [98]:
l1.remove('l')
l1

[1,
 'd',
 2,
 3,
 4,
 5,
 6,
 7,
 11,
 'D',
 'e',
 'h',
 'i',
 True,
 False,
 ['a0', 5],
 'Welcome to Acciojob',
 'W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'A',
 'c',
 'c',
 'i',
 'o',
 'j',
 'o',
 'b']

In [99]:
l1.remove('z')

ValueError: list.remove(x): x not in list

In [100]:
l1.pop()
l1

[1,
 'd',
 2,
 3,
 4,
 5,
 6,
 7,
 11,
 'D',
 'e',
 'h',
 'i',
 True,
 False,
 ['a0', 5],
 'Welcome to Acciojob',
 'W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'A',
 'c',
 'c',
 'i',
 'o',
 'j',
 'o']

In [101]:
l1.pop(1)

'd'

In [102]:
l1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 11,
 'D',
 'e',
 'h',
 'i',
 True,
 False,
 ['a0', 5],
 'Welcome to Acciojob',
 'W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'A',
 'c',
 'c',
 'i',
 'o',
 'j',
 'o']

In [103]:
l1.index(True)

0

In [104]:
l1.index(1)

0

In [105]:
l1.index(5)

4

In [106]:
l1.index('Welcome to Acciojob')

15

In [107]:
l1.append('qw')

In [108]:
l2=[2,2,4,5,6,9,1,1,1,5]
l2

[2, 2, 4, 5, 6, 9, 1, 1, 1, 5]

In [109]:
l2.count(2)

2

In [110]:
l2.count(1)

3

In [120]:
l2.reverse()
l2

[2, 2, 4, 5, 6, 9, 1, 1, 1, 5]

In [124]:
l2.append(' ')
l2

[2, 2, 4, 5, 6, 9, 1, 1, 1, 5, ' ', ' ', ' ', ' ']

In [125]:
l2.count(' ')

4

In [126]:
l3=l2.copy()
l3

[2, 2, 4, 5, 6, 9, 1, 1, 1, 5, ' ', ' ', ' ', ' ']

In [127]:
l2.clear()
l2

[]

In [128]:
a=5

In [129]:
name='Siraj'
name

'Siraj'

In [130]:
name[2]

'r'

In [131]:
name[2]='R'

TypeError: 'str' object does not support item assignment

In [132]:
da_3=['Shivansh','Kajal','Sohel','Ajit']
da_3

['Shivansh', 'Kajal', 'Sohel', 'Ajit']

In [134]:
da_3[2]='Mohammad Sohel'

In [135]:
da_3

['Shivansh', 'Kajal', 'Mohammad Sohel', 'Ajit']

    Immutable
        int
        bool
        str
        float
        tuple
    Mutable
        list

## Tuple
    Moon bracket
    ()

In [136]:
tu1=(1,2)
tu1

(1, 2)

In [137]:
type(tu1)

tuple

In [138]:
a=1,2

In [139]:
a

(1, 2)

In [140]:
type(a)

tuple

In [141]:
da_3

['Shivansh', 'Kajal', 'Mohammad Sohel', 'Ajit']

In [142]:
tu_da_3=tuple(da_3)
tu_da_3

('Shivansh', 'Kajal', 'Mohammad Sohel', 'Ajit')

In [144]:
tu_da_3[-1]='Ajit Singh'

TypeError: 'tuple' object does not support item assignment

In [145]:
dir(tu_da_3)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## Dictionary => JSON

    Implicit(Python) => Indexed Data Type
        String
        List
        Tuple
    Explicit(User)   => Mapped Data Type
        Dictionary

    key-value pair
    <variable_name> ={
        <key1>:<value_1>,
        <key2>:<value_2>,
        ...,
        <keyn>:<valuen>
    }

    Differentiable between indexed data type and mapped data type

In [147]:
excel_dict={
    "Ajit":3,
    "Sohel":7,
    "Kajal":7,
    "Shivansh":3.5,
    "Aditi":7.6,
    "Sanket":5.5,
    "Kapil":4.5    
}
excel_dict

{'Ajit': 3,
 'Sohel': 7,
 'Kajal': 7,
 'Shivansh': 3.5,
 'Aditi': 7.6,
 'Sanket': 5.5,
 'Kapil': 4.5}

In [148]:
excel_dict[0]

KeyError: 0

In [149]:
excel_dict[0]=0

In [150]:
excel_dict

{'Ajit': 3,
 'Sohel': 7,
 'Kajal': 7,
 'Shivansh': 3.5,
 'Aditi': 7.6,
 'Sanket': 5.5,
 'Kapil': 4.5,
 0: 0}

In [151]:
excel_dict[0]

0

In [152]:
excel_dict['Ajit']

3

In [153]:
dir(excel_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [154]:
excel_dict.keys()

dict_keys(['Ajit', 'Sohel', 'Kajal', 'Shivansh', 'Aditi', 'Sanket', 'Kapil', 0])

In [155]:
excel_dict.values()

dict_values([3, 7, 7, 3.5, 7.6, 5.5, 4.5, 0])

In [156]:
excel_dict

{'Ajit': 3,
 'Sohel': 7,
 'Kajal': 7,
 'Shivansh': 3.5,
 'Aditi': 7.6,
 'Sanket': 5.5,
 'Kapil': 4.5,
 0: 0}

In [157]:
excel_dict.items()

dict_items([('Ajit', 3), ('Sohel', 7), ('Kajal', 7), ('Shivansh', 3.5), ('Aditi', 7.6), ('Sanket', 5.5), ('Kapil', 4.5), (0, 0)])

In [158]:
chk=[
    ('Ajit', 3), 
    ('Sohel', 7), 
    ('Kajal', 7), 
    ('Shivansh', 3.5), 
    ('Aditi', 7.6), 
    ('Sanket', 5.5), 
    ('Kapil', 4.5), 
    (0, 0)
]

In [159]:
type(chk)

list

In [160]:
chk[0]

('Ajit', 3)

In [161]:
type(chk[0])

tuple

In [162]:
empty_dict={}

In [163]:
empty_tu=()

In [164]:
type(empty_tu)

tuple

In [165]:
excel_dict

{'Ajit': 3,
 'Sohel': 7,
 'Kajal': 7,
 'Shivansh': 3.5,
 'Aditi': 7.6,
 'Sanket': 5.5,
 'Kapil': 4.5,
 0: 0}

In [166]:
len(excel_dict)

8

In [168]:
excel_dict.get('Sanket')

5.5

In [169]:
excel_dict['Sulo']=6.6

In [172]:
excel_dict

{'Ajit': 3,
 'Sohel': 7,
 'Kajal': 7,
 'Shivansh': 3.5,
 'Aditi': 7.6,
 'Sanket': 5.5,
 'Kapil': 4.6,
 0: 0,
 'Sulo': 6.6}

In [171]:
excel_dict.update({'Kapil':4.6})

In [173]:
excel_dict.pop(0)

0

In [174]:
excel_dict

{'Ajit': 3,
 'Sohel': 7,
 'Kajal': 7,
 'Shivansh': 3.5,
 'Aditi': 7.6,
 'Sanket': 5.5,
 'Kapil': 4.6,
 'Sulo': 6.6}

In [175]:
excel_dict.pop()

TypeError: pop expected at least 1 argument, got 0

In [176]:
excel_dict.popitem()

('Sulo', 6.6)

In [177]:
excel_dict.popitem('Kapil')

TypeError: dict.popitem() takes no arguments (1 given)