    Loop 
        while - When we are not sure how many times we have to run the loop
        for - fixed iteration

    i = 0

In [1]:
i=0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

    Write a python script to print names of students who came to attend the orientation.

In [7]:
choice='y'
while choice =='y':    
    print(f'Welcome !! {input("Enter the Name of Student")}.')
    choice=input('Enter Choice')

Welcome !! Ali.
Welcome !! Ajit.
Welcome !! Akhi;l.

In [9]:
choice=input()
while choice =='y':    
    print(f'Welcome !! {input("Enter the Name of Student")}.')
    choice=input('Enter Choice')

Welcome !! Ali.
Welcome !! Sohel.
Welcome !! Ajit.
Welcome !! Akhil.

    for <initialization> <condition/iteration>:
        <for block code>

    range(start_index,end_index,step)
        default value of 
            step 1
            start 0
            end len()
        range(5)
            0 1 2 3 4

In [ ]:
st='Welcome to Acciojob'

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

    Write a Python script to print even nos less than 20

In [11]:
for i in range(20):
    if i%2==0:
        print(f'{i}  is Even')

0  is Even
2  is Even
4  is Even
6  is Even
8  is Even
10  is Even
12  is Even
14  is Even
16  is Even
18  is Even

In [12]:
for i in range(0,20,2):
    print(f'{i} is even')

0 is even
2 is even
4 is even
6 is even
8 is even
10 is even
12 is even
14 is even
16 is even
18 is even

    Write a Python script to print odd nos less than 20

In [14]:
for i in range(1,20,2):
    print(f'{i} is odd')

1 is odd
3 is odd
5 is odd
7 is odd
9 is odd
11 is odd
13 is odd
15 is odd
17 is odd
19 is odd

In [21]:
for i in range(5):
    print(f'Row => {i}')
    for j in range(5):
        print(f'Col=> {j} * ',end='')
    print()

Row => 0
Col=> 0 * Col=> 1 * Col=> 2 * Col=> 3 * Col=> 4 *
Row => 1
Col=> 0 * Col=> 1 * Col=> 2 * Col=> 3 * Col=> 4 *
Row => 2
Col=> 0 * Col=> 1 * Col=> 2 * Col=> 3 * Col=> 4 *
Row => 3
Col=> 0 * Col=> 1 * Col=> 2 * Col=> 3 * Col=> 4 *
Row => 4
Col=> 0 * Col=> 1 * Col=> 2 * Col=> 3 * Col=> 4 *

In [25]:
for i in range(5):
    for j in range(5):
        print('*',end='')
    print()

*****
*****
*****
*****
*****

In [24]:
for i in range(5):
    print(i)
    print()

0

1

2

3

4

In [34]:
for i in range(1,6):
    for j in range(1,6):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [33]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end="")
    print()

*
**
***
****
*****

    range(1,6)
            1 2 3 4 5
    Row 1   range(1,2)
            1
    Row 2   range(1,3)
            1 2
    row 3   range(1,4)
            1 2 3
    Row 4   range(1,5)
            1 2 3 4
    Row 5   range(1,6)
            1 2 3 4 5

        st[s:e:step]
        st[0:5:1]
        0 1 2 3 4

    1
    12
    123
    1234
    12345

In [35]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

    * * * * *
    * * * *
    * * * 
    * *
    *

        *
       **
      ***
     ****
    *****

        *
       * *
      * * *
     * * * *
    * * * * *

    ********
    *      *
    *      *
    *      *
    ********

In [37]:
age=int(input('Enter the age :- '))

if age>=18:
    print("You are eligible for voting")
else:
    print("Sorry, you are not eligible for voting yet.")

ValueError: invalid literal for int() with base 10: 'Twenty One'

    try:
        <try block -> code which we have to check>
    except <Exception yo>u want to handle>

    else:
        <else block>

In [38]:
try:
    age=int(input('Enter the age :- '))

    if age>=18:
        print("You are eligible for voting")
    else:
        print("Sorry, you are not eligible for voting yet.")
except ValueError:
    print('Please provide valid age ')

Please provide valid age

In [39]:
# Trying to remove an element that is not in the list
my_list = [1, 2, 3]
my_list.remove(4)  # This will raise ValueError

ValueError: list.remove(x): x not in list

In [40]:
try:
    # Trying to remove an element that is not in the list
    my_list = [1, 2, 3]
    my_list.remove(4)  # This will raise ValueError
except ValueError:
    print("The value was not found")

The value was not found

In [41]:
5/0

ZeroDivisionError: division by zero

In [45]:
try:
    no1=int(input())
    no2=int(input())
    print(no1/no2)
except ZeroDivisionError:
    print("You can't divide by zero!")
except ValueError:
    print("Invalid input. Please enter a number.")

You can't divide by zero!

In [1]:
try:
    no1=int(input())
    no2=int(input())
    print(no1/no2)
except Exception as e:
    print(f"Error {e}")
finally:
    print("This is the end")

Error invalid literal for int() with base 10: 'a'
This is the end

    Binary 2
    OCtal 8
    Hexadecimal 16
    Decimal 10

In [50]:
i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [57]:
lst=[1,2456,3,4,55,6,7]

In [54]:
for i in lst:
    print(i)

1
2456
3
4
55
6
7

In [59]:
tup=1,5,6,'a',456,True,'Siraj'

In [56]:
for i in tup:
    print(i)

1
5
6
a
456
True

In [60]:
di=dict(zip(lst,tup))
di

{1: 1, 2456: 5, 3: 6, 4: 'a', 55: 456, 6: True, 7: 'Siraj'}

In [61]:
for i in di:
    print(i)

1
2456
3
4
55
6
7

In [62]:
for i in di.items():
    print(i)

(1, 1)
(2456, 5)
(3, 6)
(4, 'a')
(55, 456)
(6, True)
(7, 'Siraj')

In [63]:
for i in di.keys():
    print(i)

1
2456
3
4
55
6
7

In [64]:
for i in di.values():
    print(i)

1
5
6
a
456
True
Siraj

In [66]:
for key,value in di.items():
    print(f' {key}  => {value}')

 1  => 1
 2456  => 5
 3  => 6
 4  => a
 55  => 456
 6  => True
 7  => Siraj

In [67]:
st={1,1,1,1,2,3,5,6,5,2,5,1,6,51,6,456}

In [68]:
st

{1, 2, 3, 5, 6, 51, 456}

In [69]:
for i in st:
    print(i)

1
2
3
51
5
6
456

    We have 5 players in a team we have different jersey no for them 
    We want to welcome player with jersey no 7

In [71]:
players=[1,5,65,7,98]

In [74]:
for i in players:
    if i==7:
        print('Welcome Back Dhoni')
    else:
        print('Not Dhoni')

Not Dhoni
Not Dhoni
Not Dhoni
Welcome Back Dhoni
Not Dhoni

In [75]:
for i in players:
    if i==7:
        print('Welcome Back Dhoni')
        break
    else:
        print('Not Dhoni')

Not Dhoni
Not Dhoni
Not Dhoni
Welcome Back Dhoni

    We have to find no divisible by 11
    once we get 3 nos divisible by 11 break the loop

In [85]:
count=0
for i in range(1,100):    
    if i%5==0:
        continue
    if i %3==0:
        print(i)
        count+=1
    if count==10:
        break

3
6
9
12
18
21
24
27
33
36

    break = stop
    continue = skip