    Random Library
    String Library
    Lambda
    map
    filter

    Import random Library

In [2]:
import random as rd

In [30]:
import random as rd

In [17]:
rd.random()

0.09046839382382643

In [29]:
rd.randint(10,20)

10

    range(start,end,step)

In [203]:
for i in range(50,60,2):
    print(i)

50
52
54
56
58

In [47]:
rd.randrange(0,30,2)

6

    Write a python script to create a list of even no between 0,30

In [59]:
even_lst=[]
for i in range(0,30,2):
    even_lst.append(i)
even_lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

    [element for i in range(0,40,2)]

In [55]:
even_lst=[ i for i in range(0,40,2)]
even_lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

    Write a python script to create a list of squares of no till 30

In [64]:
sqr_lst=[]
for i in range(10):
    sqr_lst.append(i**2)
sqr_lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
sqr_lst=[i**2 for i in range(10)]
sqr_lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
sqr_tup=tuple(i**2 for i in range(10))
sqr_tup

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [72]:
dem_dict[2]='b'

In [74]:
dem_dict.update({3:'c'})

In [75]:
dem_dict

{1: 'a', 2: 'b', 3: 'c'}

In [76]:
pow_dict={}
for i in range(10):
    pow_dict[i]=i**2    
print(pow_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [77]:
pow_dict={}
for i in range(10):
    pow_dict.update({i:i**2})   
print(pow_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [71]:
dem_dict={
    1:'a'
}
dem_dict[1]

'a'

In [82]:
pow_dict={ i:i**2 for i in range(10) }
pow_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [78]:
lst=[1,2,3,4]
lst

[1, 2, 3, 4]

In [80]:
lst[0]=5

In [81]:
lst

[5, 2, 3, 4]

    List Comprehension
        <variable name> = [element for i in range() ]
        <variable name> = [element for i in eve_list ]
        <variable name> = [element for i in iterable ]

    Dict Comprehension
        {key: value} = {k: v for k,v in zip(keys, values)}
        <variable name> = {key: value for key,value in zip(keys, values)}
        <variable name> = {i: i**2 for i in zip(keys, values)}

    Write a python script to get random day from a list of days

In [419]:
days=['Sun','Mon','Tue','Wed','Thur','Fri','Sat']

In [134]:
rd.choice(days)

'Sun'

In [446]:
rd.choices(days,k=7)

['Sat', 'Tue', 'Sun', 'Sat', 'Sun', 'Sat', 'Mon']

In [201]:
rd.sample(days,3)

['Thur', 'Sat', 'Fri']

    random()
    randint()
    randrange()
    choice()
    choices()
    sample()

    String
        'ascii_letters',
        'ascii_lowercase',
        'ascii_uppercase',
        'capwords',
        'digits',
        'hexdigits',
        'octdigits',
        'printable',
        'punctuation',
        'whitespace'

In [204]:
import string as st

In [227]:
st.printable

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [205]:
dir(st)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [225]:
st.whitespace

' \t\n\r\x0b\x0c'

In [224]:
st.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [217]:
st.hexdigits

'0123456789abcdefABCDEF'

In [218]:
st.octdigits

'01234567'

In [207]:
st.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [208]:
st.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [209]:
st.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [223]:
st.capwords('welcome@to@acciojob',sep='@')

'Welcome@To@Acciojob'

In [216]:
st.digits

'0123456789'

    1 Uppercase 2
    1 Lowercase 2
    1 digit     2
    1 special_character 2
    minimum 8 characters

In [228]:
st.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [400]:
p_u=rd.choices(st.ascii_uppercase,k=2)
p_u

['Q', 'U']

In [401]:
p_l=rd.choices(st.ascii_lowercase,k=2)
p_l

['r', 'i']

In [402]:
p_d=rd.choices(st.digits,k=2)
p_d

['7', '9']

In [403]:
p_sp=rd.choices(st.punctuation,k=2)
p_sp

['=', '"']

In [405]:
final_password=p_u+p_l+p_d+p_sp
final_password

['Q', 'U', 'r', 'i', '7', '9', '=', '"']

In [407]:
''.join(final_password)

'QUri79="'

In [417]:
password=''.join(rd.choices(rd.choices(st.ascii_uppercase,k=2)+rd.choices(st.ascii_lowercase,k=2)+rd.choices(st.digits,k=2)+rd.choices(st.punctuation,k=2),k=8))
password

'W>|cc>D>'

In [319]:
first_name='Siraj'
last_name='Ali'

In [334]:
''.join(['1','2','3','3','4','5','6'])

'1233456'

    map(<function_name without moon bracket>,iterable)

    input
        Apple Orange Grapes

        ['Apple','Orange','Grapes']

In [468]:
fruits=input().split()
fruits

['Apple', 'Orange', 'Grapes']

    25 27 65 92 15

In [469]:
ages=input().split()
ages

['25', '27', '65', '92', '15']

In [451]:
int_ages=[]
for i in ages:
    int_ages.append(int(i))
    
int_ages

[25, 27, 65, 92, 15]

In [454]:
int_ages=[int(i) for i in ages]
int_ages

[25, 27, 65, 92, 15]

In [456]:
ages

['25', '27', '65', '92', '15']

In [458]:
list(map(int,ages))

[25, 27, 65, 92, 15]

In [459]:
def sqr(x):
    return x**2

In [460]:
int_ages

[25, 27, 65, 92, 15]

In [461]:
list(map(sqr,int_ages))

[625, 729, 4225, 8464, 225]

In [466]:
name=['siraj','ali']

In [471]:
list(map(len,name))

[5, 3]