# Introduction
pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real-world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis/manipulation tool available in any language. pandas is well suited for many different kinds of data:

Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet

Ordered and unordered (not necessarily fixed-frequency) time series data.

Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels

Any other form of observational / statistical data sets. The data need not be labeled at all to be placed into a pandas data structure

The two primary data structures of pandas,

Series (1-dimensional) and
DataFrame (2-dimensional), handle the vast majority of typical use cases in finance, statistics, social science, and many areas of engineering.
pandas is built on top of NumPy and is intended to integrate well within a scientific computing environment with many other 3rd party libraries.

Here are just a few of the things that pandas does well:

Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data

Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects

Automatic and explicit data alignment: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame, etc. automatically align the data for you in computations

Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data

Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects

Intelligent label-based slicing, fancy indexing, and subsetting of large data sets

Intuitive merging and joining data sets

Flexible reshaping and pivoting of data sets

Hierarchical labeling of axes (possible to have multiple labels per tick)

Robust IO tools for loading data from flat files (CSV and delimited), Excel files, databases, and saving / loading data from the ultrafast HDF5 format

Time series-specific functionality: date range generation and frequency conversion, moving window statistics, date shifting, and lagging.

Many of these principles are here to address the shortcomings frequently experienced using other languages / scientific research environments. For data scientists, working with data is typically divided into multiple stages: munging and cleaning data, analyzing / modeling it, then organizing the results of the analysis into a form suitable for plotting or tabular display. pandas is the ideal tool for all of these tasks.

In [ ]:
! pip install pandas

In [ ]:
import pandas as pd       # import pandas library in notebook

In [ ]:
pd.__version__            # check the version of the pandas

# Creation of Pandas Series
A pandas series can be created using list,tuple,dictionary and numpy array. To create series use pandas.Series()

    Series - One dimensional Data Type in Pandas 
            Labled values in Series
                Header / Column Name
                WE can give name explicitlity using name parameter
            Index
                By Default we will get Int indexes starting from 0 to len-1
                However we can pass indexed Explicitly using index parameter

            If we are using list tuple or array no of values in these iterable should be equal to no of values in index parameter
            If we are using scalar value int,str,bool,float it will create Series according to index and fill the scalar value
            If we are using dictionary it will fill values according to the index parameter from the given dictionary

In [ ]:
pd.Series(1.0,index=[100,20])

In [ ]:
pd.Series(('Aditya','Rishi','Vineet'),index=['A','R','V'],name='DA3').dtype

In [ ]:
population_dict = {
    'California':38956785,
    'Texas':26441568,
    'New York':19555647,
    'Florida':12364569,
    'Illinois':12882135
}

population_dict

In [ ]:
type(population_dict)

In [ ]:
population = pd.Series(population_dict)
population

In [ ]:
population['California':'Florida']

In [ ]:
population.ndim

In [ ]:
population.shape

In [ ]:
population.size

In [ ]:
population.dtype

In [ ]:
population['California']

In [ ]:
population.index

In [ ]:
population['California']

In [ ]:
population[0]

In [ ]:
population

In [ ]:
population['California':'New York']

In [ ]:
lst=[2,4,6,8]

In [ ]:
pd.Series([2,4,6,8])  # creating series with list


# default index is created in pandas using numpy.arange(len(list))

In [ ]:
pd.Series((1,2,3,4))       # creating series with tuple

In [ ]:
import numpy as np

In [ ]:
x=np.array([9,10,11,12,13])
pd.Series(x)                   # creating series with numpy array

In [ ]:
#create a series using numpy array in below cell take any random numbers

In [ ]:
#answer here

In [ ]:
pd.Series( [2,4,6] , index=[100,200,'delhi'] )               # setting up the customized index to array

In [ ]:
pd.Series( 5 )                          # creating array for a scaler value

In [ ]:
pd.Series( 5, index=[100,200,300] )

In [ ]:
pd.Series( 5 , index=[100,200,300] )


# it gives preferances to the index

In [ ]:
pd.Series( {2:'a' ,  1:'b', 3:'c'} )

In [ ]:
pd.Series( {2:'a' ,  1:'b', 3:'c'}, index=[3,2,4,5] )
# if key of the dictonary doesn't match with index then it will fill the series with NaN values

# Type and Shape of the series
To check the type of the Series use type() and to check the shape of the series use .shape.

In [ ]:
population

In [ ]:
type(population)

In [ ]:
population.shape # Series

# Data Frame
Creating Pandas DataFrame
A pandas DataFrame can be created using pandas Series, dictionary, list, tuple and numpy array.

To create pandas DataFrame use pd.DataFrame()

    pd.DataFrame(<data>)

In [ ]:
pd.DataFrame(pd.Series([i for i in range(1,20,2)],name='Odd_numbers'))

In [ ]:
population_dict = {
    'California':38956785,
    'Texas':26441568,
    'New York':19555647,
    'Florida':12364569,
    'Illinois':12882135
}

In [ ]:
popupation_series=pd.Series(population_dict)

In [ ]:
pd.DataFrame(popupation_series)

In [ ]:
population_dict = {
    'California':38956785,
    'Texas':26441568,
    'New York':19555647,
    'Florida':12364569,
    'Illinois':12882135
}

population=pd.Series(population_dict)
df = pd.DataFrame(population,columns=['population'])
df

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df.ndim

In [ ]:
#create a datafram for this in the below cell
city_networth = {
    'California':126789,
    'Texas':939393,
    'New York':348030340,
    'Florida':4384320,
    'Illinois':98540340
}

In [ ]:
#answer here

In [ ]:
df.shape # DataFrame shape will give you the information similar to 2D numpy array with rows and columns

In [ ]:
df = pd.DataFrame(population, columns=['Population'])  # changing the name of the column while creating the DataFrame
df

In [ ]:
lst=[
    [1,2,3],
    ['a','b','c'],
    [True,False]
]

In [ ]:
[1,2,3]

In [ ]:
['a','b','c']

In [ ]:
pd.DataFrame(lst)

In [ ]:
# Creating the pandas DataFrame with list of the dictionries
data = [ {'a':i, 'b':i} for i in range(1,4) ]
data

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
data=[{'a': 80, 'b': 1}, {'a': 90, 'b': 2}, {'a': 95, 'b': 3}]

In [ ]:
data=[
    [80,1],
    [90,2],
    [95,3]
]

In [ ]:
# a customized index can be setup for a smaller DataFrame
df = pd.DataFrame(data, index=['Aditya','Vijay','Vineet'])
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
# to check the name of the columns use df.columns
df.columns

In [ ]:
df.columns[0]

In [ ]:
# to change the names of the columns use 'df.columns=list of the new column names'
df.columns=['Excel','Rank']
df

In [ ]:
# to cange the index of the DataFrame use after creating the DataFrame use 'df.index=list of the new index values'
df.index=['i','ii','iii']
df

In [ ]:
df.columns=['column1','column2']
df

In [ ]:
print(df.columns)

In [ ]:
print(df.columns[0])  # to get name of the column according to index position use df.column[index of the column]

In [ ]:
print(list(df.columns))     # to get the list of the column names

In [ ]:
df.index   # to check the index values

In [ ]:
print(list(df.index))    # to get the list of the index values

In [ ]:
df

In [ ]:
# if a DataFrame is created using the dictionary and the keys are not matched in two dictionaries then it will be filled with NaN values

pd.DataFrame( [ {'a':1,'b':2} , {'b':3,'c':4} ] )

In [ ]:
# To create a DataFrame with numpy array
import numpy as np
pd.DataFrame(np.random.rand(3,2), columns=['Class1','Class2'], index=['a','b','c'])

In [ ]:
pd.DataFrame(np.random.rand(3,2))

In [ ]:
# List of Dictionaries

d = [ 
          {'city':'Delhi','data':1000}, 
          {'city':'Mumbai','data':2000}, 
          {'city':'Bangalore','data':1500} 
     ]
pd.DataFrame(d,index=[1,2,3])

# Importing Data to create DataFrame
To create pandas DataFrame, a data can be imported from csv,excel files. Also, data can be imported from RDBMS such as MySql.

To create DataFrame from csv file use following syntax:

pandas.read_csv(filepath_or_buffer, names=_NoDefault.no_default, index_col=None, squeeze=None, skipinitialspace=False, skiprows=None, skipfooter=0, na_values=None)

Not all parameters are mentioned in the syntax. If we have properly arranged and cleaned data just use :

pandas.read_csv(file_path)

In [ ]:
# csv files
import pandas as pd
path='https://raw.githubusercontent.com/ubaid-shah/datasets/main/student_records.csv'
df = pd.read_csv(path)
df

In [ ]:
import pandas as pd
df=pd.read_csv(r'A:\OneDrive\work\acciojob\python\accio\bigmart_data.csv') # absolute path
pd.read_csv('bigmart_data.csv') # relative path

# Data Exploration
Data exploration will help finding the information about the data. In pandas it can be done using diiferent ways.

Viewing/Inspecting Data
Use these commands to take a look at specific sections of your pandas DataFrame or Series.

df.head(n) | First n rows of the DataFrame

By default, it returns the first 5 rows of the Dataframe.

df.tail(n)| Last n rows of the DataFrame

By default, it returns the last 5 rows of the Dataframe.

df.shape| Number of rows and columns

df.size | Number of elements in this object.

Return the number of rows if Series, otherwise returns the number of rows times the number of columns if DataFrame.

df.info()| Index, Datatype and Memory information

df.describe()| Summary statistics for numerical columns

df.value_counts(dropna=False) | View unique values and counts

df.apply(pd.Series.value_counts) | Unique values and counts for all columns

df.ndim| Returns dimension of dataframe/series.

1 for one dimension (series), 2 for two dimensions (dataframe).

df.sample( ) | generate a sample randomly either row or column.

It allows you to select values randomly from a Series or DataFrame. It is useful when we want to select a random sample from a distribution.

df.isna( ) or df.isnull() | This function returns a dataframe filled with boolean values with true indicating missing values.

df.isnull( ).sum( ) | Return the number of missing values in each column.

df.dropna( ) | remove a row or a column from a dataframe that has a NaN or missing values in it.

# Basic Data Exploration

In [ ]:
df

In [ ]:
df.head() # 5 rows

In [ ]:
df.head(3)

In [ ]:
df.head(1)

In [ ]:
df.tail() # last 5 rows

In [ ]:
df.tail(2)

In [ ]:
df

In [ ]:
len(df.columns)

In [ ]:
df.shape

In [ ]:
df['ProjectScore']

In [ ]:
df.ProjectScore

In [ ]:
ser = df.ProjectScore  # create a series from one column from the dataset
print(ser)
print(type(ser))
print(ser.shape)

In [ ]:
df['ProjectScore']               # create a series from one column from the dataset

In [ ]:
df.ProjectScore

In [ ]:
df.shape   # no of rows and columns of the DataFrame

In [ ]:
df.ndim    # Returns dimension of dataframe/series. 1 for one dimension (series), 2 for two dimensions (dataframe).

In [ ]:
df.sample()                  # generate a sample randomly either row or column.

In [ ]:
df.sample(3)                  # generate a number of samples randomly either row or column.

In [ ]:
df.columns         # columns of the DataFrame

In [ ]:
list(df.columns)        # create a list of the column names

In [ ]:
df.info()                       # Index, Datatype and Memory information

# Statistical Summary of Pandas DataFrame

In [ ]:
# Summary of the numeric columns
df.describe()

The above DataFrame show information as total number of records in the specific columns in count. The values of mean ,min max and standard deviation (std) are shown. Also quantile values of the data is also given as 25%,50% and 75%. Here 50% is median value.

In [ ]:
df.describe().T   # transpose the describe DataFrame

In [ ]:
df['ResearchScore'].describe()          # to get statistical information for specific column

In [ ]:
df['ResearchScore'].quantile(0.5)   # to get specific quantile values  50% quantile is median of the data

In [ ]:
df['ResearchScore'].quantile(0.25)

In [ ]:
round(df[['ResearchScore','ProjectScore']].quantile(0.75),2)   # rount off the 75% value to 2 decimal points

In [ ]:
round(df[['ResearchScore','ProjectScore']].describe(),2)

In [ ]:
round(df[['ResearchScore','ProjectScore']].std(),2)

In [ ]:
df.describe()

In [ ]:
round(df.describe(),2)   # to round off the total DataFrame values to 2 decimal points

In [ ]:
df['ResearchScore'].mean()

In [ ]:
df['ResearchScore'].count()

In [ ]:
# to get the names of the Numeric columns
df.describe().columns

In [ ]:
df.info()

In [ ]:
# df.drop(coulumns,axis=1) will delete the columns from the DataFrame
x = df.drop('Name',axis=1) 
x

In [ ]:
set(x.columns)       # to create the set of the columns

In [ ]:
df.describe()

In [ ]:
set(x.describe().columns)

In [ ]:
set(x.columns)-set(x.describe().columns)     # to get the names of the categorical columns

In [ ]:
cat_col = list(set(x.columns) - set(x.describe().columns))
cat_col

In [ ]:
x[cat_col] # call only the specific data according to the column name

In [ ]:
df[cat_col].describe()   # stastical info of the categorical columns

In [ ]:
x.describe(include='object')     # to get the stastical info of the categorical column

In [ ]:
x.describe(include='all')       # to get the stastical info of the numerical as well as categorical columns

# Value counts

In [ ]:
df['Recommend'].value_counts()    # View unique values and counts

In [ ]:
df['Recommend'].value_counts(normalize=True)  # View unique values and counts in fraction between 0 to 1.

In [ ]:
df['Recommend'].value_counts(normalize=True) *100 # View unique values and counts in percentage

In [ ]:
df["OverallGrade"].value_counts()

The above value_counts will not include the NaN values. To consider the NaN values use `.value_counts(dropna=False)`

In [ ]:
df["OverallGrade"].value_counts(dropna=False)

In [ ]:
df["OverallGrade"].value_counts(dropna=False,normalize=True)

In [ ]:
df["OverallGrade"].value_counts(dropna=False,normalize=True) *100

In [ ]:
df.value_counts(dropna=False)

In [ ]:
df.apply(pd.Series.value_counts) # Unique values and counts for all columns

# Dealing with Null Values

Checking the null values in the DataFrame

In [ ]:
df.isna( ) # This function returns a dataframe filled with boolean values with true indicating missing values.

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum() # Return the number of missing values in each column.

In [ ]:
df.shape

In [ ]:
df.shape[0]

In [ ]:
df.isnull().sum() *100/df.shape[0] # Return the number of missing values in each column in percentage.

Handeling The Null Values
In order to deal with NaN or Null values there are multiple ways according to the projects or data as follows.

    Drop all null values
    Fill Null values

In [ ]:
s=pd.Series()
s

In [ ]:
df['s']=s

In [ ]:
x=df.dropna(axis=0) # remove a row from a dataframe that has a NaN or missing values in it.
x

In [ ]:
x=df.dropna(axis=1) # remove a column from a dataframe that has a NaN or missing values in it.
x

In [ ]:
x=df.dropna(how='any')        # ‘any’ : If any NA values are present, drop that row or column.
    
x

In [ ]:
df

In [ ]:
dfna=pd.read_csv('../data/na.csv')
dfna

In [ ]:
x=df.dropna(how='all') # ‘all’ : If all values are NA, drop that row or column.
x

In [ ]:
df

In [ ]:
x=df
x

In [ ]:
x.dropna(inplace=True) # Whether to modify the DataFrame rather than creating a new one.
x

# Fill Null values :
Filling null values with two methods

i. .fillna()

ii. .interpolate()

In [ ]:
path='https://raw.githubusercontent.com/ubaid-shah/datasets/main/student_records.csv'
df = pd.read_csv(path)
df

In [ ]:
df['OverallGrade'].fillna('A')

In [ ]:
x=df.fillna('India')
x

In [ ]:
df

In [ ]:
df['ProjectScore'].fillna(x['ProjectScore'].mean())

In [ ]:
x['ProjectScore'].mean()

In [ ]:
df

In [ ]:
x.fillna(method='bfill'),x.fillna(method='ffill')

In [ ]:
x.fillna(method='bfill', axis=0)

In [ ]:
x.fillna(method='ffill')

In [ ]:
x.fillna(method='ffill', axis=1)

In [ ]:
df['Recommend'].unique()   # to find the unique values in the particular column

In [ ]:
df['OverallGrade'].unique()

In [ ]:
df['Recommend']=df['Recommend'].replace("NO","No")    # to replace the value in the particular column

In [ ]:
df['Recommend'].unique()

In [ ]:
df

In [ ]:
df['ResearchScore'].sum()

In [ ]:
col_num = df.describe().columns
x = df[col_num]
x

In [ ]:
x.sum()

In [ ]:
x.sum(axis=0)

In [ ]:
x.sum(axis=1)

In [ ]:
x.mean(axis=0)

In [ ]:
x.mean(axis=1)

In [ ]:
x.count(axis=0)

In [ ]:
x.count(axis=1)

In [ ]:
x.min(axis=0)

In [ ]:
x.min(axis=1)

In [ ]:
x.max(axis=0)

In [ ]:
x.max(axis=1)

In [ ]:
x.median(axis=0)

In [ ]:
x.median(axis=0)

In [ ]:
df.mode(axis=0)

In [ ]:
x.std(axis=0)

In [ ]:
x.std(axis=1)

In [ ]:
x.var(axis=0)

In [ ]:
x.var(axis=1)

In [ ]:
x.cov()

In [ ]:
x.corr()

In [ ]:
# Pandas dataframe.cumsum() is used to find the cumulative sum value over any axis. 
# Each cell is populated with the cumulative sum of the values seen so far.
print(x)
print()
print(x.cumsum())

In [ ]:
df
df=df.sort_values(by='ResearchScore')
df

In [ ]:
df=df.sort_values(by='ResearchScore',ascending=False)
df

In [157]:
df=df.sort_values(by=['OverallGrade','ResearchScore'],ascending =False)
df

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
2   David            F        N             10          17.0        No
4  Marvin            E        N             20          30.0        No
9   Chris            D        U             25          15.0        No
1    John            C        N             85          51.0       Yes
7   Trent            C        Y             75          33.0        No
3  Holmes            B        Y             75          71.0        No
6  Robert            B        Y             60          59.0        No
5   Simon            A        Y             92          79.0       Yes
0   Henry            A        Y             90          85.0       Yes
8    Judy          NaN        Y             25           NaN        No

In [ ]:
x

In [ ]:
x.reset_index(inplace=True)
x

In [ ]:
x.drop(columns=['level_0'],inplace=True)
x

In [159]:
x=df.sort_values(by=['ResearchScore','ProjectScore'])
x

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
2   David            F        N             10          17.0        No
4  Marvin            E        N             20          30.0        No
9   Chris            D        U             25          15.0        No
8    Judy          NaN        Y             25           NaN        No
6  Robert            B        Y             60          59.0        No
7   Trent            C        Y             75          33.0        No
3  Holmes            B        Y             75          71.0        No
1    John            C        N             85          51.0       Yes
0   Henry            A        Y             90          85.0       Yes
5   Simon            A        Y             92          79.0       Yes

In [160]:
x

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
2   David            F        N             10          17.0        No
4  Marvin            E        N             20          30.0        No
9   Chris            D        U             25          15.0        No
8    Judy          NaN        Y             25           NaN        No
6  Robert            B        Y             60          59.0        No
7   Trent            C        Y             75          33.0        No
3  Holmes            B        Y             75          71.0        No
1    John            C        N             85          51.0       Yes
0   Henry            A        Y             90          85.0       Yes
5   Simon            A        Y             92          79.0       Yes

In [161]:
x.sort_index()                  # sort the DataFrame with respect to index

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90          85.0       Yes
1    John            C        N             85          51.0       Yes
2   David            F        N             10          17.0        No
3  Holmes            B        Y             75          71.0        No
4  Marvin            E        N             20          30.0        No
5   Simon            A        Y             92          79.0       Yes
6  Robert            B        Y             60          59.0        No
7   Trent            C        Y             75          33.0        No
8    Judy          NaN        Y             25           NaN        No
9   Chris            D        U             25          15.0        No

# Drop duplicates
Pandas drop_duplicates() method helps in removing duplicates from the Pandas Dataframe In Python.

DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding axis, or by specifying directly index or column names. When using a multi-index, labels on different levels can be removed by specifying the level. See the user guide <advanced.shown_levels> for more information about the now unused levels.

In [168]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5] 
    })
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [166]:
# By default, it removes duplicate rows based on all columns.
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [173]:
# To remove duplicates on specific column(s), use subset.

df.drop_duplicates(subset=['brand'],keep='first')

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5

In [170]:
# To remove duplicates and keep last occurrences, use keep.

df.drop_duplicates(subset=['brand', 'style'], keep='last')

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0