# Use Case:
The data scientists at BigMart have collected 2013 sales data for 1559 products across 10 stores in different cities. Also, certain attributes of each product and store have been defined. The aim is to build a predictive model and predict the sales of each product at a particular outlet.

Using this model, BigMart will try to understand the properties of products and outlets which play a key role in increasing sales.

Please note that the data may have missing values as some stores might not report all the data due to technical glitches. Hence, it will be required to treat them accordingly.

# Data Dictionary

We have train (8523) and test (5681) data set, train data set has both input and output variable(s). You need to predict the sales for test data set.

CSV containing the item outlet information with sales value

In [1]:
import pandas as pd
import numpy as np

data_BM =pd.read_csv ('../accio/bigmart_data.csv')

In [ ]:
data_BM.info()

In [ ]:
data_BM.describe()

In [ ]:
#Try to import numpy & Pandas library also try to fetch data from any csv file in below cell

In [ ]:
#answer here

In [ ]:
data_BM.isnull()

In [ ]:
data_BM.isna()

In [ ]:
data_BM.isna().sum()

In [ ]:
data_BM.shape

In [ ]:
data_BM.shape[0]

In [ ]:
data_BM.isna().sum()/data_BM.shape[0]

In [ ]:
round(data_BM.isna().sum()*100/data_BM.shape[0],2)

In [ ]:
# drop the null values
data_BM = data_BM.dropna()
# reset index after dropping
data_BM.head()
# view the top results

In [ ]:
data_BM.shape

In [ ]:
data_BM.reset_index(inplace=True)

# data_BM=data_BM.reset_index(drop=True)

In [ ]:
data_BM.head()

In [ ]:
data_BM=data_BM.drop('index',axis=1)

In [ ]:
data_BM.info()

# Apply function
Apply function can be used to perform pre-processing/data-manipulation on your data both row wise and column wise.
It is a faster method than simply using a for loop over your dataframe.
Almost every time I need to iterate over a dataframe or it's rows/columns, I will think of using the apply.
Hence, it is widely used in feature engineering code.

In [ ]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5] 
    })
df

In [ ]:
df.shape[0]

In [ ]:
for i in range(data_BM.shape[0]):
    print(df[:i])

In [ ]:
# accessing row wise
data_BM.apply(lambda x: x)

In [ ]:
# access first row
data_BM.apply(lambda x: x[0],axis=0)

In [ ]:
# accessing column wise
data_BM.apply(lambda x: x, axis=1)

In [ ]:
# access first column by index
data_BM.apply(lambda x: x[0], axis=1)

In [ ]:
# access by column name
data_BM.apply(lambda x: x["Item_Fat_Content"], axis=1)

- You can also use `apply` to implement a **condition** individually on every row/column of your dataframe.
- Suppose you want to clip Item_MRP to 200 and not consider any value greater than that.
```python
def clip_price(price):
    if price > 200:
        price = 200
    return price

In [ ]:
# before clipping
data_BM["Item_MRP"][:5]

In [ ]:
# clip price if it is greater than 200
def clip_price(price):
    if price > 200:
        price = 200
    return price

# after clipping
data_BM["Item_MRP"].apply(lambda x: clip_price(x))

In [ ]:
data_BM["Outlet_Location_Type"].value_counts()

In [ ]:
# label encode city type
def label_encode(city):
    if city == 'Tier 1':
        label = 0
    elif city == 'Tier 2':
        label = 1
    else:
        label = 2
    return label

# operate label_encode on every row of Outlet_Location_Type
data_BM["Outlet_Location_Type"] = data_BM["Outlet_Location_Type"].apply(label_encode)

In [ ]:
data_BM["Outlet_Location_Type"] = data_BM["Outlet_Location_Type"].apply(lambda x :label_encode(x))

In [ ]:
# after label encoding
data_BM["Outlet_Location_Type"][:5]

In [ ]:
data_BM['Item_Fat_Content']

In [ ]:
data_BM.Item_Fat_Content

In [ ]:
data_BM.head()

In [ ]:
#using given path create data.head in below cell

In [ ]:
#answer here

Pandas library of python is very useful for the manipulation of mathematical data and is widely used in the field of machine learning.It comprises many methods for its proper functioning. loc() and iloc() are one of those methods. These are used in slicing data from the Pandas DataFrame.

The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc(). Many operations can be performed using the loc() method

In [ ]:
data_BM = pd.read_csv('../accio/bigmart_data.csv')
data_BM

In [ ]:
dairy=data_BM.loc[data_BM['Item_Type']=='Dairy']

In [ ]:
dairy

In [ ]:
dairy_medium1=data_BM.loc[(data_BM['Item_Type']=='Dairy') & (data_BM['Outlet_Size']=='Medium')]
dairy_medium1

In [ ]:
dairy_medium=data_BM.loc[(data_BM['Item_Type']=='Dairy') & (data_BM['Outlet_Size']=='Medium')]

In [ ]:
dairy_medium=data_BM.loc[(data_BM['Item_Type']=='Dairy') & (data_BM['Outlet_Size']=='Medium')]

In [ ]:
dairy_medium

In [ ]:
dairy_medium['Outlet_Establishment_Year'].unique()

In [ ]:
dairy_medium_99=data_BM.loc[(data_BM['Item_Type']=='Dairy') & (data_BM['Outlet_Size']=='Medium') & (data_BM['Outlet_Establishment_Year']>1999)]
dairy_medium_99

In [ ]:
dairy_medium_99_150=dairy_medium_99[dairy_medium_99['Item_MRP']>150]
dairy_medium_99_150

In [ ]:
dairy_medium_99_150.reset_index(drop=True,inplace=True)

In [ ]:
dairy_medium_99_150

In [ ]:
display(dairy_medium_99_150.iloc[:5])

In [ ]:
# selecting 0th, 2th, 4th, and 7th index rows
display(dairy_medium_99_150.iloc[[0, 2, 4, 7]])

In [ ]:
# selecting rows from 1 to 4 and columns from 2 to 4
display(dairy_medium_99_150.iloc[1: 5, 2: 5])

# Merging dataframes
Joining and merging DataFrames is the core process to start with data analysis and machine learning tasks.
It is one of the toolkits which every Data Analyst or Data Scientist should master because in almost all the cases data comes from multiple source and files.
Pandas has two useful functions for merging dataframes:
concat()
merge()
Creating dummy data

In [ ]:
# create dummy data
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
 

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                     'B': ['B4', 'B5', 'B6', 'B7'],
                     'C': ['C4', 'C5', 'C6', 'C7'],
                     'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])
 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                     'B': ['B8', 'B9', 'B10', 'B11'],
                     'C': ['C8', 'C9', 'C10', 'C11'],
                     'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

In [ ]:
df1,df2,df3

In [ ]:
#create a dataframe in below cell using sample 4 different values

In [ ]:
#answer here

# a. concat() for combining dataframes

Suppose you have the following three dataframes: df1, df2 and df3 and you want to combine them "row-wise".

You can use concat() here. You will have to pass the names of the DataFrames in a list as the argument to the concat()

In [ ]:
# combine dataframes
result = pd.concat([df1, df2, df3])
result

In [ ]:
#create a 3 different dataframe and concate them and make single dataframe in below cell

In [ ]:
#answer here

In [ ]:
# combine dataframes
result = pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])
result

In [ ]:
# get second dataframe
result.loc['z']

In [ ]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                        'D': ['D2', 'D3', 'D6', 'D7'],
                        'F': ['F2', 'F3', 'F6', 'F7']},
                       index=[2, 3, 6, 7])

In [ ]:
df1, df4

In [ ]:

    

result = pd.concat([df1, df4], axis=1, sort=False)
result

In [ ]:
result = pd.concat([df1, df4], axis=1, join='inner')
result

In [ ]:
result = pd.concat([df1, df4], axis=1).reindex(df4.index)
result

b. merge() for combining dataframes using SQL like joins
Another ubiquitous operation related to DataFrames is the merging operation.
Two DataFrames might hold different kinds of information about the same entity and linked by some common feature/column.
We can use merge() to combine such dataframes in pandas.
Creating dummy data

In [ ]:
# create dummy data
df_a = pd.DataFrame({
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']})

df_b = pd.DataFrame({
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']})

df_c = pd.DataFrame({
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]})

In [ ]:
df_a,df_b,df_c

In [ ]:
pd.merge(df_a, df_c, on='subject_id',how='inner')

Merge with outer join
“Full outer join produces the set of all records in Table A and Table B, with matching records from both sides where available. If there is no match, the missing side will contain null.”

In [ ]:
pd.merge(df_a, df_c, on='subject_id', how='outer')

Merge with inner join
“Inner join produces only the set of records that match in both Table A and Table B.”

In [ ]:
pd.merge(df_a, df_c, on='subject_id', how='inner')

# Merge with right join
“Right outer join produces a complete set of records from Table B, with the matching records (where available) in Table A. If there is no match, the left side will contain null.”

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='right')

# Merge with left join
“Left outer join produces a complete set of records from Table A, with the matching records (where available) in Table B. If there is no match, the right side will contain null.”

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='left')

# Merge OR Concat : Which to use when?
After learning both of the functions in detail, chances are that you might be confused which to use when.
One major difference is that merge() is used to combine dataframes on the basis of values of common columns. Whileconcat() is used to append dataframes one below the other (or sideways, depending on whether the axis option is set to 0 or 1).
Exact usage depends upon the kind of data you have and analysis you want to perform.

# Aggregating data
There are multiple functions that can be used to perform useful aggregations on data in pandas:

groupby
crosstab
pivottable
a. What is the mean price for each item type? : groupby
In the given data set, I want to find out what is the mean price for each item type?
You can use groupby() to achieve this.
The first step would be to group the data by Item_Type column

In [ ]:
cols=data_BM.describe().columns
cols

In [ ]:
data_BM[cols].mean()

In [ ]:
data_BM.sum()

In [ ]:
data_BM.info()

In [ ]:
import pandas as pd
import numpy as np

# read the dataset
data_BM = pd.read_csv('bigmart_data.csv')
# drop the null values
data_BM = data_BM.dropna(how="any")
# reset index after dropping
data_BM = data_BM.reset_index(drop=True)
# view the top results
data_BM.head()

# Group By
Pandas groupby is used for grouping the data according to the categories and apply a function to the categories. It also helps to aggregate data efficiently.

Pandas dataframe.groupby() function is used to split the data into groups based on some criteria. pandas objects can be split on any of their axes. The abstract definition of grouping is to provide a mapping of labels to group names.

In [4]:
# group price based on item type # mean price by item 
price_by_item = data_BM.groupby('Item_Type')['Item_MRP'].mean()

# display first few rows
price_by_item.reset_index()

                Item_Type    Item_MRP
0            Baking Goods  126.380766
1                  Breads  140.952669
2               Breakfast  141.788151
3                  Canned  139.763832
4                   Dairy  148.499208
5            Frozen Foods  138.503366
6   Fruits and Vegetables  144.581235
7             Hard Drinks  137.077928
8      Health and Hygiene  130.818921
9               Household  149.424753
10                   Meat  139.882032
11                 Others  132.851430
12                Seafood  141.841719
13            Snack Foods  146.194934
14            Soft Drinks  131.492506
15          Starchy Foods  147.838023

Now that you have grouped by Item_Type, the next step would be to calculate the mean of Item_MRP.
You can use groupby with multiple columns of the dataset too.
In this case, if you want to group first based on the Item_Type and then Item_MRP you can simply pass a list of column names.

In [10]:
data_BM

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [14]:
multiple_groups = data_BM[:25].groupby(['Item_Type', 'Item_Fat_Content'])[['Item_MRP','Item_Weight']].max()
multiple_groups

                                        Item_MRP  Item_Weight
Item_Type             Item_Fat_Content
Baking Goods          Low Fat           107.6938          NaN
                      Regular           144.5444       10.395
Breakfast             Regular            56.3614        9.000
Dairy                 Low Fat           249.8092       13.350
                      Regular           144.1102       18.500
Frozen Foods          Regular           187.8214       19.200
Fruits and Vegetables Low Fat           196.4426       16.350
                      Regular           182.0950       19.200
Hard Drinks           Low Fat           113.2834          NaN
Health and Hygiene    Low Fat           115.3492       11.800
Household             Low Fat           196.5084       14.600
Meat                  Low Fat           141.6180       17.500
Snack Foods           Low Fat           107.7622          NaN
                      Regular           250.8724       18.850
Soft Drinks           Regular            48.2692        5.920

In [ ]:
# group on multiple columns
multiple_groups = data_BM[:25].groupby(['Item_Type', 'Item_Fat_Content']).max()
multiple_groups.reset_index()

In [ ]:
pd.pivot_table()

In [16]:
# create pivot table
pd.pivot_table(
    data_BM, 
    index=['Outlet_Establishment_Year'],
    values= "Item_Outlet_Sales")

                           Item_Outlet_Sales
Outlet_Establishment_Year
1985                             2483.677474
1987                             2298.995256
1997                             2277.844267
1998                              339.351662
1999                             2348.354635
2002                             2192.384798
2004                             2438.841866
2007                             2340.675263
2009                             1995.498739

In [ ]:
# create pivot table
pd.pivot_table(
    data_BM, 
    columns=['Outlet_Establishment_Year'],
    index=['Item_Type'], 
    values= ["Item_Outlet_Sales",'Item_MRP'],
    aggfunc={"Item_Outlet_Sales":'sum','Item_MRP':'mean'})

In [27]:
# create pivot table
pd.pivot_table(
    data_BM, 
    columns=['Outlet_Establishment_Year'],
    index=['Item_Type'], 
    values= ["Item_Outlet_Sales",'Item_MRP'],
    aggfunc={"Item_Outlet_Sales":'sum','Item_MRP':'mean'}).to_csv('../data/csv/pivot_2.csv')

In [ ]:
# create pivot table
pd.pivot_table(data_BM, index=['Outlet_Establishment_Year', 'Outlet_Location_Type', 'Outlet_Size'], 
               values= "Item_Outlet_Sales")