# Sets

A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets.

Set and Set Methods

In [1]:
days={'Mon','Tue','Wed','Thur','Fri','Sat','Sun'}            # Create a set

In [2]:
days                                                         # order will changed when we display

{'Fri', 'Mon', 'Sat', 'Sun', 'Thur', 'Tue', 'Wed'}

In [3]:
print(days)                                                  # order will changed when we print

{'Thur', 'Wed', 'Mon', 'Fri', 'Sun', 'Sat', 'Tue'}

In [4]:
days={'Mon','Tue','Wed','Thur','Fri','Sat','Sun','Mon'}       # set will not allow duplication

In [5]:
days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thur', 'Tue', 'Wed'}

In [ ]:
num=[1,2,3,5,9,2,6,9,4]

In [6]:
# to find out unique even numbers in ascending order
num=[1,2,3,5,9,2,6,9,4]
even=[]
for i in num:
    if i%2==0:
        even.append(i)

In [7]:
even

[2, 2, 6, 4]

In [8]:
even=set(even)

In [9]:
even

{2, 4, 6}

In [10]:
even=list(even)

In [11]:
even

[2, 4, 6]

In [12]:
# Set Items - Data Types
# Set items can be of any data type:


set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

# A set can contain different data types:

set1 = {"abc", 34, True, 40, "male"}

In [6]:
set_num=set((1,20,13,4,15,6,1,15,20))

In [10]:
set_num

{1, 4, 6, 13, 15, 20, 45}

In [9]:
set_num.add(45)

In [ ]:
#You are given a value you need to convert into set and print disctinct value
Set_A ={5,7,8,9,10,7,8}

In [ ]:
#answer here

In [15]:
set_num.add(21)             # to add a specific element in the set

In [11]:
set_num

{1, 4, 6, 13, 15, 20, 45}

In [17]:
set_num.pop()             # to remove the random element from the set

1

In [12]:
set_num.pop()

TypeError: set.pop() takes no arguments (1 given)

In [18]:
days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thur', 'Tue', 'Wed'}

In [19]:
days.pop()

'Thur'

In [20]:
days.remove('Mon')              # to remove a specific element from the set

In [21]:
days

{'Fri', 'Sat', 'Sun', 'Tue', 'Wed'}

In [22]:
my_set = {1, 3}

In [23]:
# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [24]:
# add list and set
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [25]:
# discard an element
my_set.discard(4)
print(my_set)

{1, 2, 3, 5, 6, 8}

In [26]:
# remove an element
my_set.remove(6)
print(my_set)

{1, 2, 3, 5, 8}

In [27]:
# discard an element
# not present in my_set
my_set.discard(6)
print(my_set)

{1, 2, 3, 5, 8}

In [28]:
# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(6)

KeyError: 6

In [29]:
# clear my_set
my_set.clear()
print(my_set)

set()

In [ ]:
#what is the difference between discard and remove

Set_B ={4,5,6,7}

In [ ]:
#answer here

# Set Operations
Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. We can do this with operators or methods.

In [13]:
set_A={1,2,5,6}
set_B={1,2,7,8}

# Set Union
Union of set_A and set_B is a set of all elements from both sets.

Union is performed using | operator. Same can be accomplished using the union() method.

In [14]:
set_A.union(set_B)

{1, 2, 5, 6, 7, 8}

In [15]:
set_A | set_B # Union

{1, 2, 5, 6, 7, 8}

# Set Intersection
intersection of A and B is a set of elements that are common in both the sets.

Intersection is performed using & operator. Same can be accomplished using the intersection() method.

In [16]:
set_A.intersection(set_B)

{1, 2}

In [17]:
set_A & set_B   # Intesection

{1, 2}

# Set Difference
Difference of the set B from set A(A - B) is a set of elements that are only in A but not in B. Similarly, B - A is a set of elements in B but not in A.

Difference is performed using - operator. Same can be accomplished using the difference() method.

In [18]:
set_A.difference(set_B)

{5, 6}

In [19]:
set_B.difference(set_A)

{7, 8}

In [38]:
set_A-(set_B)

{5, 6}

In [39]:
set_B-(set_A)

{7, 8}

# Set Symmetric Difference
Symmetric Difference of A and B is a set of elements in A and B but not in both (excluding the intersection).

Symmetric difference is performed using ^ operator. Same can be accomplished using the method symmetric_difference().

In [40]:
set_A.symmetric_difference(set_B)

{5, 6, 7, 8}

In [41]:
set_A^(set_B)

{5, 6, 7, 8}

# Tuple

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

A tuple is created by placing all the items (elements) inside parentheses (), separated by commas. The parentheses are optional, however, it is a good practice to use them.

In [43]:
a=()

In [44]:
type(a)

tuple

In [45]:
b=(1)
type(b)

int

In [46]:
c=('hello')
type(c)

str

In [47]:
b=(1,)
type(b)

tuple

In [48]:
c=('hello',)
type(c)

tuple

In [49]:
location=(56.5,78.9)    #Geographical Coordinates
type(location)

tuple

In [50]:
location1=56.5,78.9    # A tuple can also be created without using parentheses. This is known as tuple packing.
type(location1)

tuple

In [51]:
# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [52]:
 # Tuples may be nest 
 t = 12345, 54321, 'hello!'
 u = t, (1, 2, 3, 4, 5)
 type(u)

tuple

In [ ]:
t=[1,2,4,5,6]
#create a tuple for the giving values in the below cell

In [ ]:
#answer here

# Tuple slicing and tuple operations
We can use the index operator [] to access an item in a tuple, where the index starts from 0.

So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an index outside of the tuple index range(6,7,... in this example) will raise an IndexError.

The index must be an integer, so we cannot use float or other types. This will result in TypeError.

Likewise, nested tuples are accessed using nested indexing,

In [53]:
color_code=(110,25,255)   #RGB color Codes

In [54]:
green_col_code=color_code[1]                    # Grabing an element with index

In [55]:
green_col_code

25

In [56]:
tuple = (1,2,3,4,5,6,7)  
#element 1 to end  
print(tuple[1:])

(2, 3, 4, 5, 6, 7)

In [57]:
x=(4,5,6,9,8,7)
#element 0th index  to 3rd index element   
print(x[:4])

(4, 5, 6, 9)

In [58]:
#element 1st to 4th element  
print(x[1:5])

(5, 6, 9, 8)

In [59]:
x=(55,66,85,98,102,210,650,980,780,650)
# element 0th index to 6th index and take step of 2  
print(x[0:7:2])

(55, 85, 102, 650)

In [60]:
tuple1 = (1, 2, 3,"Mango", 4, 5)    
# Negative indexing for accessing tuple elements
tuple1[-1]

5

In [61]:
tuple1[-3:]

('Mango', 4, 5)

In [62]:
a=(1,2)
b=a+(3,4)
b

(1, 2, 3, 4)

In [63]:
a*2

(1, 2, 1, 2)

In [64]:
b

(1, 2, 3, 4)

In [65]:
b.index(2)       # to check the index of the specific element in the tuple

1

In [66]:
b.count(3)        # to count the number of the occurances of the element

1

In [67]:
# Iterating through the tuple
a=("Hello","World","!")
for i in a:
    print(i)

Hello
World
!

# Dictionary

Python dictionary is an unordered collection of items. Each item of a dictionary has a key/value pair.

Dictionaries are optimized to retrieve values when the key is known.

Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.

Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key.

You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append( ) and extend( ).

Creating a dictionary is as simple as placing items inside curly braces { } separated by commas.

In [68]:
# empty dictionary
my_dict = {}
print(my_dict)
print(type(my_dict))

{}
<class 'dict'>

In [69]:
# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
print(my_dict)

{1: 'apple', 2: 'ball'}

In [ ]:
#create a dictinory and add few key and pair values and print it in below cell

In [ ]:
#answer here

In [70]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)

{'name': 'John', 1: [2, 4, 3]}

In [71]:
input_list=[["T'shirt",300],["Watch",900],["Hat",200]]
price_lookup=dict(input_list)

In [72]:
price_lookup

{"T'shirt": 300, 'Watch': 900, 'Hat': 200}

# Accessing Elements from Dictionary
While indexing is used with other data types to access values, a dictionary uses keys. Keys can be used either inside square brackets [] or with the get() method.

In [73]:
price_lookup['Hat']

200

In [74]:
price_lookup['Watch']

900

In [75]:
price_lookup.get('Watch')

900

# Changing and Adding Dictionary elements
Dictionaries are mutable. We can add new items or change the value of existing items using an assignment operator.

If the key is already present, then the existing value gets updated. In case the key is not present, a new (key: value) pair is added to the dictionary.

In [76]:
price_lookup['Hat']=300

In [77]:
price_lookup

{"T'shirt": 300, 'Watch': 900, 'Hat': 300}

In [78]:
price_lookup['Shoes']=1500

In [79]:
price_lookup

{"T'shirt": 300, 'Watch': 900, 'Hat': 300, 'Shoes': 1500}

In [80]:
price_lookup.update({"Shoes":2000})        
# update() method updates the dictionary with elements from a dictionary object or an iterable object of key/value pairs.

In [81]:
price_lookup

{"T'shirt": 300, 'Watch': 900, 'Hat': 300, 'Shoes': 2000}

# Dictionary Operations
We can remove a particular item in a dictionary by using the pop() method. This method removes an item with the provided key and returns the value.

The popitem() method can be used to remove and return an arbitrary (key, value) item pair from the dictionary. All the items can be removed at once, using the clear() method.

We can also use the del keyword to remove individual items or the entire dictionary itself.

In [82]:
fruits=dict(fruit_1="banana",fruit_2="Orange",fruit_3="Mango")  
fruits

{'fruit_1': 'banana', 'fruit_2': 'Orange', 'fruit_3': 'Mango'}

In [83]:
new_fruits=fruits.copy()
new_fruits

{'fruit_1': 'banana', 'fruit_2': 'Orange', 'fruit_3': 'Mango'}

In [84]:
new_fruits.pop('fruit_2')

'Orange'

In [85]:
new_fruits

{'fruit_1': 'banana', 'fruit_3': 'Mango'}

In [86]:
new_fruits.popitem()

('fruit_3', 'Mango')

In [87]:
new_fruits

{'fruit_1': 'banana'}

In [88]:
new_fruits.clear()

In [89]:
new_fruits

{}

In [90]:
new_fruits.update({"fruit_4":"Lichi","fruit_5":"Pinaaple"})          # to add new dictionary in to old dictionary

In [91]:
new_fruits

{'fruit_4': 'Lichi', 'fruit_5': 'Pinaaple'}

In [92]:
del new_fruits['fruit_4']                                           # to delete a specific k:v pair

In [93]:
new_fruits

{'fruit_5': 'Pinaaple'}

In [94]:
del new_fruits                                              # to delete a dictionary

In [95]:
new_fruits

NameError: name 'new_fruits' is not defined

In [96]:
fruits

{'fruit_1': 'banana', 'fruit_2': 'Orange', 'fruit_3': 'Mango'}

In [97]:
fruits.keys()

dict_keys(['fruit_1', 'fruit_2', 'fruit_3'])

In [98]:
fruits.values()

dict_values(['banana', 'Orange', 'Mango'])

In [99]:
fruits.items()

dict_items([('fruit_1', 'banana'), ('fruit_2', 'Orange'), ('fruit_3', 'Mango')])

In [100]:
for i in fruits:
    print(i)

fruit_1
fruit_2
fruit_3

In [101]:
for i in fruits.values():
    print(i)

banana
Orange
Mango

In [102]:
for i in fruits.keys():
    print(i)

fruit_1
fruit_2
fruit_3

In [103]:
for i in fruits.items():
    print(i)

('fruit_1', 'banana')
('fruit_2', 'Orange')
('fruit_3', 'Mango')

# Array

An array is a collection of items stored at contiguous memory locations. The idea is to store multiple items of the same type together. This makes it easier to calculate the position of each element by simply adding an offset to a base value, i.e., the memory location of the first element of the array (generally denoted by the name of the array).

For simplicity, we can think of an array a fleet of stairs where on each step is placed a value (let’s say one of your friends). Here, you can identify the location of any of your friends by simply knowing the count of the step they are on.

Array can be handled in Python by a module named array. They can be useful when we have to manipulate only a specific data type values.

A user can treat lists as arrays. However, user cannot constraint the type of elements stored in a list.

If you create arrays using the array module, all elements of the array must be of the same type.

In [1]:
# How to write an array
import array                                # importing array module from python library

arr = array.array('i', [7, 2, 0, -8])       # creating an array, mention the data type. here i is for integer
print(arr)

print(type(arr))

array('i', [7, 2, 0, -8])
<class 'array.array'>

In [106]:
arr = array.array('f', [7, 2, 0, -8, 55.55])             # array doen't supprort different data types
print(arr)                                               # f is for float

print(type(arr))

array('f', [7.0, 2.0, 0.0, -8.0, 55.54999923706055])
<class 'array.array'>

In [107]:
# 1. Length => total number of elements inside the array
# len(arrayName)

a1 = array.array('i', [7,0,1,-6,-8,10])
print(len(a1))

6

In [108]:
# 2. Indexing => Return the element at defined position number
# arrName[pos]
#
a1 = array.array('i', [7,0,1,-6,-8,10])
print(a1[2])
print(a1[-1])

1
10

In [109]:
# 3. Slicing => Returns the chunk of array
# arrName[start : end : step size]
# start = 0
# end = length of seq
# step size = 1

a1 = array.array('i', [7,0,1,-6,-8,10])
print(a1[0 : 4])

array('i', [7, 0, 1, -6])

In [110]:
# return the element at  odd pos only
print(a1[1 : : 2])

array('i', [0, -6, 10])

In [111]:
# 4. Concatenation (+)

a1 = array.array('i', [7,0,1,-6,-8,10])
a2 = array.array("f", [0.2, 5.2, -6.8, 4.2])
# # print(a1 + a2)
#
print(a1 + a1)
print(a2 + a2)

array('i', [7, 0, 1, -6, -8, 10, 7, 0, 1, -6, -8, 10])
array('f', [0.20000000298023224, 5.199999809265137, -6.800000190734863, 4.199999809265137, 0.20000000298023224, 5.199999809265137, -6.800000190734863, 4.199999809265137])

In [112]:
# 5. Repitition (*)

a1 = array.array('i', [7,0,1,-6,-8,10])
print(a1 * 5)

array('i', [7, 0, 1, -6, -8, 10, 7, 0, 1, -6, -8, 10, 7, 0, 1, -6, -8, 10, 7, 0, 1, -6, -8, 10, 7, 0, 1, -6, -8, 10])

In [113]:
# repeat the elements 8 times which are at position multiple of 3

print(a1[0 : : 3] * 8)

array('i', [7, -6, 7, -6, 7, -6, 7, -6, 7, -6, 7, -6, 7, -6, 7, -6])

In [114]:
# 6. Membership (in)
# Return TRUE if element is present inside the array

a1 = array.array('i', [7,0,1,-6,-8,10])
print(900 in a1)
# print(0 in a1)

False