In [1]:
# type your code here
a = 2
print(a)
print( type(a) )
b = "Hello world!"
print(b)
print( type(b) )
c = 23.15
print(c)
print( type(c) )

2
<class 'int'>
Hello world!
<class 'str'>
23.15
<class 'float'>

In [2]:
print('This is Batman\'s car')    # \ is called escape Character

This is Batman's car

In [3]:
#for formatting a date
print('09','12','2016')
print('09','12','2016', sep='/')
print('09','12','2016', sep='-')

09 12 2016
09/12/2016
09-12-2016

In [4]:
x='My name is James Bond and this is Batman\'s car'
print(x)

My name is James Bond and this is Batman's car

In [5]:
x="""My name is James Bond.
This is Batman's car."""
print(x)

My name is James Bond.
This is Batman's car.

In [6]:
x=20
y='Ubaid'

print(f'My name is {y} and my age is {x}')  # with f string

My name is Ubaid and my age is 20

In [7]:
name=input('Name: ')
age=int(input('Age: '))
gender=input('Gender: ')
mobile=int(input("Mobile: "))

print(f'''My name is {name}. I am {age} old {gender}. 
My mobile number is {mobile}.''')

Name: ubaid
Age: 34
Gender: m
Mobile: 9090909090
My name is ubaid. I am 34 old m.
My mobile number is 9090909090.

In [8]:
x=10
y=3
z=x/y

print('When we divide {} by {} we get {}'.format(x,y,z))

When we divide 10 by 3 we get 3.3333333333333335

In [9]:
a='hello'
b='World'

print('{} {}'.format(b,a))

World hello

In [10]:
# slice the string from 2nd elements to 3rd element
a='Mango'
a[1:3]

'an'

In [11]:
a[2]

'n'

In [12]:
a[-1]

'o'

In [13]:
# upper(): Converts all lowercase characters in a string into uppercase 
x='mango'

print(x.upper())

MANGO

In [14]:
x.upper()

'MANGO'

In [15]:
x.lower()

'mango'

In [16]:
# capitalize()	Converts the first character to upper case
x.capitalize()

'Mango'

In [17]:
print(2+3)   # Addition
print(3-2)   # Subtraction
print(2*3)   # Multiplication
print(6/4)   # Division
print(6//4)  # Floor Division
print(6%4)   # Modulus or Modulo
print(2**3)  # Exponentiation

5
1
6
1.5
1
2
8

In [18]:
print(3>2 and 5<10)

True

In [19]:
print(3<2 and 2>5)

False

In [20]:
print(3>2 or 5<2)

True

In [21]:
print(3<2 or 5<2)

False

In [22]:
x=-5
if x>0:
    print(x)
    print("Hi Buddy!")
print("Out of if statement")

Out of if statement

In [23]:
num1 = 5
if (num1 != 0):
    if(num1 > 0):
        print("num1 is a positive number")
    else:
        print("num1 is a negative number")
else:
    print("num1 is neither positive nor negative")

num1 is a positive number

In [24]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [25]:
for i in range(3):
    print(i,end=' ')

0 1 2

In [26]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [27]:
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [28]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday

In [29]:
for day in weekdays:
    pass

In [30]:
for i in 'Python Training Session':
    if i=='P':
        pass
    elif i=='y':
        continue
    elif i=='g':
        break
    else:
        print(i)

t
h
o
n

T
r
a
i
n
i
n

In [31]:
a=[]            # Empty list

In [32]:
type(a)

list

In [33]:
a.append('Medhir')

In [34]:
a

['Medhir']

In [35]:
a=['Shirt', 'Pant', 'Shoes', 'Tshirt']
a.pop()

'Tshirt'

In [36]:
a[0]

'Shirt'

In [37]:
a[1:3]    # [start: end+1: step]

['Pant', 'Shoes']

In [38]:
num=[1,2,3,6,9,8,7,4,5,2,1,4,5,6,9,8,7]

In [39]:
len(num)

17

In [40]:
# Elements from 2nd to 7th item

num[2:8]

[3, 6, 9, 8, 7, 4]

In [41]:
# 4th element from end
num[-4]

6

In [42]:
# 4th  from end to last element

num[-4:]

[6, 9, 8, 7]

In [43]:
# find out the even numbers from the list
even=[]
for i in num:
    if i%2==0:
        even.append(i)

In [44]:
even

[2, 6, 8, 4, 2, 4, 6, 8]

In [45]:
even.sort()       # to sort the list in ascending order

In [46]:
even

[2, 2, 4, 4, 6, 6, 8, 8]

In [47]:
even.extend([10,12,14])

In [48]:
even

[2, 2, 4, 4, 6, 6, 8, 8, 10, 12, 14]

In [49]:
even.pop(2)   # remove element from specific index

4

In [50]:
even.remove(8)  # remove a specific element

In [51]:
even

[2, 2, 4, 6, 6, 8, 10, 12, 14]

In [52]:
even.insert(2,'Mango')      # to insert an element at specific elements

In [53]:
even

[2, 2, 'Mango', 4, 6, 6, 8, 10, 12, 14]

In [54]:
#  if...else With List Comprehension

obj = ["Even" if i%2==0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [55]:
days={'Mon','Tue','Wed','Thur','Fri','Sat','Sun'}            # Create a set

In [56]:
days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thur', 'Tue', 'Wed'}

In [57]:
# Set Items - Data Types
# Set items can be of any data type:


set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

# A set can contain different data types:

set1 = {"abc", 34, True, 40, "male"}

In [58]:
set_num=set((1,20,13,4,15,6,1,15,20))

In [59]:
set_num

{1, 4, 6, 13, 15, 20}

In [60]:
set_num.add(21)             # to add a specific element in the set

In [61]:
set_num

{1, 4, 6, 13, 15, 20, 21}

In [62]:
set_num.pop()             # to remove the random element from the set

1

In [63]:
days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thur', 'Tue', 'Wed'}

In [64]:
days.pop()

'Mon'

In [65]:
days.remove('Mon')              # to remove a specific element from the set

KeyError: 'Mon'

In [66]:
my_set = {1, 3}

In [67]:
# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [68]:
# add list and set
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [69]:
# clear my_set
my_set.clear()
print(my_set)

set()

In [70]:
set_A={1,2,5,6}
set_B={1,2,7,8}

In [71]:
set_A.union(set_B)

{1, 2, 5, 6, 7, 8}

In [72]:
set_A | set_B # Union

{1, 2, 5, 6, 7, 8}

In [73]:
set_A.difference(set_B)

{5, 6}

In [74]:
set_B.difference(set_A)

{7, 8}

In [75]:
a=()

In [76]:
type(a)

tuple

In [77]:
b=(1)
type(b)

int

In [78]:
c=('hello')
type(c)

str

In [79]:
location_list=[56.5,78.9]
location_list[0]=60.0
location_list

[60.0, 78.9]

In [80]:
# Tuples are immutable

location_tuple=56.5,78.9
location_tuple[0]=60.0
location_tuple

TypeError: 'tuple' object does not support item assignment

In [81]:
x=(4,5,6,9,8,7)
#element 0th index  to 3rd index element   
print(x[:4])

(4, 5, 6, 9)

In [82]:
a=(1,2)
b=a+(3,4)
b

(1, 2, 3, 4)

In [83]:
a*2

(1, 2, 1, 2)

In [84]:
b

(1, 2, 3, 4)

In [85]:
b.index(2)       # to check the index of the specific element in the tuple

1

In [86]:
b.count(3)        # to count the number of the occurances of the element

1

In [87]:
# Iterating through the tuple
a=("Hello","World","!")
for i in a:
    print(i)

Hello
World
!

In [88]:
# empty dictionary
my_dict = {}
print(my_dict)
print(type(my_dict))

{}
<class 'dict'>

In [89]:
# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
print(my_dict)

{1: 'apple', 2: 'ball'}

In [90]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)

{'name': 'John', 1: [2, 4, 3]}

In [91]:
input_list=[["T'shirt",300],["Watch",900],["Hat",200]]
price_lookup=dict(input_list)

In [92]:
input_list

[["T'shirt", 300], ['Watch', 900], ['Hat', 200]]

In [93]:
a=()

In [94]:
# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [95]:
color_code=(110,25,255)   #RGB color Codes

In [96]:
green_col_code=color_code[1]                    # Grabing an element with index

In [97]:
green_col_code

25

In [98]:
tuple = (1,2,3,4,5,6,7)  
#element 1 to end  
print(tuple[1:])

(2, 3, 4, 5, 6, 7)

In [99]:
#element 1st to 4th element  
print(x[1:5])

(5, 6, 9, 8)

In [100]:
# empty dictionary
my_dict = {}
print(my_dict)
print(type(my_dict))

{}
<class 'dict'>

In [101]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)

{'name': 'John', 1: [2, 4, 3]}

In [102]:
input_list=[["T'shirt",300],["Watch",900],["Hat",200]]
price_lookup=dict(input_list)

In [103]:
price_lookup

{"T'shirt": 300, 'Watch': 900, 'Hat': 200}

In [104]:
price_lookup['Hat']

200

In [105]:
price_lookup['Hat']=300

In [106]:
price_lookup

{"T'shirt": 300, 'Watch': 900, 'Hat': 300}

In [107]:
fruits=dict(fruit_1="banana",fruit_2="Orange",fruit_3="Mango")  
fruits

{'fruit_1': 'banana', 'fruit_2': 'Orange', 'fruit_3': 'Mango'}

In [108]:
new_fruits=fruits.copy()
new_fruits

{'fruit_1': 'banana', 'fruit_2': 'Orange', 'fruit_3': 'Mango'}

In [109]:
new_fruits

{'fruit_1': 'banana', 'fruit_2': 'Orange', 'fruit_3': 'Mango'}

In [110]:
new_fruits.popitem()

('fruit_3', 'Mango')

In [111]:
del new_fruits

In [113]:
#new_fruits