    Import Libraries

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_score=pd.read_csv('../data/csv/student_records.csv')
df_score.head()

In [ ]:
df_score.info()

    Statistical Functions

    mean
    median
    mode
    max
    min

In [ ]:
df_score['ResearchScore'].mean()

In [ ]:
df_score['ResearchScore'].median()

In [ ]:
df_score['ResearchScore'].mode()

In [ ]:
df_score['ResearchScore'].max()

In [ ]:
df_score['ResearchScore'].min()

In [ ]:
df_score.describe()

In [ ]:
df_score.info()

In [ ]:
df_bigmart=pd.read_csv('../data/csv/bigmart_data.csv')

In [ ]:
df_bigmart.info()

In [ ]:
df_bigmart.describe()

In [ ]:
df_score.info()

In [ ]:
df_score.describe(include='all')

    info()
    describe()

In [ ]:
df_score.info()

In [ ]:
df_score.describe()

In [ ]:
df_score.describe(include='all').T

    Removing the value/dropping the value

    
    row => axis=0
    column => axis=1

In [ ]:
df_score

    Drop Column

In [ ]:
df_score.drop(['Obedient'],axis=1)

In [ ]:
df_score.drop(['OverallGrade','ResearchScore'],axis=1)

    Drop Rows

In [ ]:
df_score.drop([0],axis=0)

In [ ]:
df_score.drop([0,5,7])

    Count Values in the Dataframe

    It will remove duplicate rows

In [ ]:
df_score=pd.read_csv('../data/csv/student_records.csv')

In [ ]:
df_score.shape

In [ ]:
df_score.value_counts()

In [ ]:
df_score.value_counts()

In [ ]:
df_score['Recommend'].value_counts()

In [ ]:
df_score['Recommend'].value_counts(normalize=True)

In [ ]:
df_score['Recommend'].value_counts(normalize=True)*100

In [ ]:
round(df_score['Recommend'].value_counts(normalize=True)*100,2)

In [ ]:
df_score.info()

In [ ]:
df_score

In [ ]:
df_score.value_counts(['OverallGrade'],dropna=True)

In [ ]:
df_score.value_counts(['OverallGrade'],dropna=False)

In [ ]:
df_score['Obedient'].unique()

In [ ]:
df_score[['OverallGrade','Obedient']].value_counts()

    How can we deal with Null/NaN Values in pandas

In [ ]:
df_score

    isnull() => python 
    isna() => R

In [ ]:
df_score.isna()

In [ ]:
df_score.isnull()

    False = 0
    True = 1

In [ ]:
df_score.isna().sum()

In [ ]:
df_score=pd.read_csv('../data/csv/student_records.csv')

In [ ]:
df_score.isna().sum()

In [ ]:
df_score.shape[0]

In [ ]:
df_score.isna().sum()/df_score.shape[0]*100

    To calculate percentage of null values we can use
        round(df_score.isna().sum()/df_score.shape[0]*100,2)

In [ ]:
round(df_score.isna().sum()/df_score.shape[0]*100,2)

    How to deal with null values
        Remove/Drop null values
        Fill null values

    Drop Null / Drop na
        dropna()

In [ ]:
df_score

In [ ]:
df_score.dropna()

In [ ]:
df_score=pd.read_csv('../data/csv/student_records.csv')
df_score

In [ ]:
df_score.dropna(axis=0,how='any')

In [ ]:
df_score.dropna(axis=1)

In [ ]:
df_score

In [ ]:
df_score.dropna(how='any')

In [ ]:
df_score=pd.read_csv('../data/csv/student_records.csv')
df_score

In [ ]:
df_score.dropna(how='all')

    dropna()
    default
        axis 0
        how  any
    possible values
        axis 
            row 0
            col 1
        how  
            any =if we are getting null value anywhere in the dataframe it will remove whole row/col
            all = it will remove row/col if all the values of row/col is null

In [ ]:
df_score

In [ ]:
df_score.dropna(how='any')

In [ ]:
df_score.dropna(how='all')

In [ ]:
df_score.dropna(subset=['Obedient'])

In [ ]:
df_score.dropna(subset=['OverallGrade','Obedient'])

    Fill Null Values

In [ ]:
df_score

In [ ]:
df_score.fillna('Not Available')

In [ ]:
df_score['Obedient'].fillna('NA',inplace=True)

In [ ]:
df_score

In [ ]:
df_score

    inplace parameter is used to apply changes on original dataframe

In [ ]:
df_score['ResearchScore'].median()

In [ ]:
df_score['ResearchScore'].fillna(df_score['ResearchScore'].median(),inplace=True)

In [ ]:
df_score

In [ ]:
df_score

In [ ]:
df_score.dropna(inplace=True)

In [ ]:
df_score

In [ ]:
df_score=pd.read_csv('../data/csv/student_records.csv')
df_score

In [ ]:
median_research=df_score['ResearchScore'].median()

In [ ]:
df_score['ResearchScore'].fillna(median_research,inplace=True)

In [ ]:
df_score

In [ ]:
df_score.fillna(method='bfill')# whatever is coming after null  should be filled

In [ ]:
df_score.bfill()

In [ ]:
df_score.fillna(method='ffill')

In [ ]:
df_score.ffill()

    Statistical
        mean
        median
        mode
        max
        min
    describe()
    value_counts(normalize=False, sort_index=True)
    unique()

    drop()
        axis

    Handle null values
        isna()
        isnull()

        remove 
            dropna
        filling
            fillna
            bfill
            ffill
    sort 
        value
        index

In [ ]:
df_score=pd.read_csv('../data/csv/student_records.csv')
df_score

In [ ]:
df_score.sort_values(by='ResearchScore') # be default it will sort our data in ascending order

In [ ]:
df_score.sort_values(by='ResearchScore',ascending=False) # we have to use ascending = False to sort in descending order

In [ ]:
df_score.sort_values(by=['ResearchScore','ProjectScore'])

In [ ]:
df_score.sort_values(by=['ResearchScore','ProjectScore'],ascending=False,inplace=True)

In [ ]:
df_score

In [ ]:
df_score.reset_index()

In [ ]:
df_score.reset_index().drop('index',axis=1)

    Drop Duplicate Values

In [ ]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'brand1': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5] 
    })
df

In [ ]:
df.value_counts()

    drop_duplicates

In [ ]:
df.drop_duplicates()

In [ ]:
df

In [ ]:
df.drop_duplicates(subset=['style'])

In [ ]:
df.drop_duplicates(subset=['style'],keep='first')

In [ ]:
df.drop_duplicates(subset=['style'],keep='last')

In [ ]:
df

In [ ]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'brand1': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5] 
    })
df

In [ ]:
df_new=df.T
df_new

In [ ]:
df_new.drop_duplicates(keep='last')

    Data Transformation

    Import Libararies

In [ ]:
import pandas as pd
import numpy as np

    Data Ingestion

In [ ]:
df_bigmart=pd.read_csv('../data/csv/bigmart_data.csv')

## Understanding the data

    Data Structure Check

In [ ]:
df_bigmart.info()

    Describe / Statistical Properties of the data

In [ ]:
df_bigmart.describe().T

In [ ]:
df_bigmart.describe(include='all')

    Handle null Values

In [ ]:
round(df_bigmart.isna().sum()/df_bigmart.shape[0]*100,2)

In [ ]:
df_bigmart.dropna(inplace=True)

In [ ]:
round(df_bigmart.isna().sum()/df_bigmart.shape[0]*100,2)

In [ ]:
df_bigmart

    Correct Index

In [ ]:
df_bigmart.reset_index(inplace=True)

In [ ]:
df_bigmart.drop('index',axis=1,inplace=True)

In [ ]:
df_bigmart

    lambda => one line function
    map(int,iterable)
        functionality on iterable

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]

    We have to print the square of all the values of the list

In [ ]:
def sqr(x):
    return x**2

In [ ]:
list(map(sqr,lst))

In [ ]:
list(map(lambda x:x**2,lst))

In [ ]:
df_bigmart.apply(lambda x:x)

In [ ]:
for i in range(df_bigmart.shape[0]):
    print(df_bigmart[:i])

In [ ]:
df_bigmart['Item_Outlet_Sales']/df_bigmart['Item_MRP']

In [ ]:
df_bigmart['Item_Type']

In [ ]:
df_bigmart.apply(lambda x:x)

In [ ]:
df_bigmart

In [ ]:
df_bigmart['Item_Type'].apply(lambda x:x)

In [ ]:
ls=list(map(lambda x:x, df_bigmart['Item_Type']))

In [ ]:
len(ls)

In [ ]:
list(map(lambda x:x, df_bigmart))

In [ ]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5] 
    })
df

In [ ]:
df['brand'].apply(lambda x:x)

In [ ]:
df['rating'].sum()

In [ ]:
(4/31.5)*100

In [ ]:
df['rating'].apply(lambda x:round((x/df['rating'].sum())*100,2))

    In bigmart we want to update price for values which are greater than 200
    if price is give greater than 200 
        we need to convert that value as 200

In [ ]:
df_bigmart['Item_MRP'].value_counts()

In [ ]:
df_bigmart['Item_MRP']>200

In [ ]:
df_bigmart[df_bigmart['Item_MRP']>200]['Item_MRP']

In [ ]:
def change_value(x):
    if x>200:
        x=200
    return x

In [ ]:
df_bigmart['Item_MRP']=df_bigmart['Item_MRP'].apply(change_value)

In [ ]:
df_bigmart[df_bigmart['Item_MRP']>200]['Item_MRP']

In [ ]:
df_bigmart['Item_MRP'].unique()

In [ ]:
df_bigmart['Item_Type'].unique()

    If we are getting soft drink or hard drink convert that to drinks

In [ ]:
df_bigmart['Item_Type'].value_counts()

In [ ]:
def change_drink(x):
    if x in ['Soft Drinks','Hard Drinks']:
        x='Drinks'
    return x

In [ ]:
df_bigmart['Item_Type'].apply(change_drink)

In [ ]:
df_bigmart['Item_Type']=df_bigmart['Item_Type'].apply(lambda x: 'Drinks' if x in ['Soft Drinks','Hard Drinks'] else x)

In [ ]:
df_bigmart['Item_Type'].value_counts()