    Python

    A
    B
    C
    C++
    Java
    Kotlin
    XML
    JavaScript
    R 
    C#
    Ruby
    Scala
    Flutter
    Django
    Flask
    Hadoop
    Pyspark
    Spark
    ReactJS
    SQL
        Mysql
        SQL Server
        Snowflake
    HTML
    CSS

    AWS
    GCP
    Azure
    Alibaba Cloud

    In which Language OS are built
        UNIX
            Microsoft DOS - WINDOWS
            MAC OS
            Linux
            Ubuntu
            Debian

    Python    
    Pyspark =>

    R
    Scala
    Hive
    Hadoop
    Spark
    SAS

    Python2

    Python3
        3.12.x

    Interpreter
    Compiler

    Implicit => Automatically 
    Explicit

    Python Core
        Keywords
        Constants
        Variable
        Data Types
            Primary
                Boolean
                Int
                Float
                String
                Complex
            Secondary
                List
                Tuple
                Set
                Dictionary
                Array
        Operators
            Arithmatic Operators
            Logical Operator
            Comparison Operators
        Conditional Statements
            Simple If
            Else IF
            Elif Ladder
            Nested IF
            Shorthand IF
        Control Statements
            Loops
                While
                For
            pass
            break
            continue
        Functions
            Builtin
                String
            Userdefined
        Class & Objects
            Class
            Objects
            INIT
            Self
            Objects

            Polymorphism
            Encapsulation
            Abstraction
            Inheritance

        Exception Handling
            try - finally
            try - except 
            try - except - else
            try - except - else - finally

        File Handling 
            Open
            Read
            Write
            Different Modes
            Close
        Comprehensions
            List
            Tuple
            Dictionary
        ZIP
        Lambda
        Map
        Filter
        Apply
    Data transformation / Wrangling
        Numpy
            np.array
            Statistical 
        Pandas
            Series
            DataFrame
    Data Visulaization
        Matplotlib
        Seaborn
    
    EDA Project

    Machine Learning
        Types Of Machine Learning
        Linear Regression
        Logistic  Regression
        Random Forest
        Decision Tress
        Time Series
        SVM
        PCA

    Required Softwares
        Python
        VS Code

        IDE
            VS Code
            Sublime
            Anaconda
            Pycharm
            Google Colab => Cloud Based
            Spyder

    .py => Python File

    Jupyter Notebook
        .ipynb

    For notebook
    we have to specify the Kernel

        3.12.1
        3.11.1
        3.10.4

In [1]:
print('Hello Python')

Hello Python

In [2]:
print(1)

1

In [3]:
print(100)

100

    Start a-z A-Z _
    Contain
        a-z
        A-Z
        0-9
        _

In [4]:
age=25

In [5]:
print(age)

25

In [6]:
print('Hello Python')

Hello Python

    India's => "India's"
    '
    "
    India"s => 'India"s'

In [7]:
print('India's')

SyntaxError: unterminated string literal (detected at line 1) (754708213.py, line 1)

In [8]:
print("India's")

India's

    Types Of Data Types
    Boolean => bool => True False
    Integer => int  => Whole No + Negative Natural No
    Float => float  => Decicmal Values
    String => str   => Text

    Boolean

In [9]:
print(True)

True

In [10]:
type(True)

bool

In [11]:
type(False)

bool

In [12]:
type(TRUE)

NameError: name 'TRUE' is not defined

    Integer => Int

In [13]:
type(1)

int

In [14]:
type(-555)

int

In [15]:
type(0)

int

    Float

In [16]:
type(1.1)

float

In [17]:
type(-999999.5)

float

    String => str

In [18]:
type('India')

str

In [19]:
type("India's")

str

In [20]:
print(1)
    print(2)
        print(3)

IndentationError: unexpected indent (1397918362.py, line 2)

In [21]:
print(1)
print(2)
print(3)

1
2
3

    \n => New Line
    \t => Tab Space

In [22]:
print(1,end='\n')
print(2,end='\n')
print(3,end='\n')

1
2
3

In [23]:
print(1,end='\t')
print(2,end='\n')
print(3,end='\n')

1	2
3

In [24]:
print(1,end='\t')
print(2,end='\t')
print(3,end='\t')

1	2	3

In [25]:
print(1,end='')
print(2,end='')
print(3,end='')

123

In [27]:
print(1,end='=>')
print(2,end='=>')
print(3,end='')

1=>2=>3

In [32]:
print(1,2,3,4,sep='@#$')

1@#$2@#$3@#$4

    Type Conversion
        bool()
        int()
        float()
        str()
        complex()

    bool => True  / False
        int()
        float()
        str()

In [33]:
a=True

In [34]:
type(a)

bool

In [35]:
int(a)

1

In [37]:
float(a)

1.0

In [38]:
str(a)

'True'

In [39]:
b=False

In [40]:
int(b),float(b),str(b)

(0, 0.0, 'False')

    Convert each data type into another one 
        Create a Confusion Matrix for same

    z=x+yj

In [42]:
n=3+5j

In [43]:
type(n)

complex

In [44]:
n.real

3.0

In [45]:
n.imag

5.0

In [53]:
name='Siraj'
city_from ='Lucknow'
living='Banglore'

In [54]:
print('My name is ',name,'.I am from',city_from,'. Currently living in ',living)

My name is  Siraj .I am from Lucknow . Currently living in  Banglore

    r string => Raw String
    f string => Formatted String

In [52]:
path = r'A:\OneDrive\downloads\downloads\downloads\downloads\downloads\downloads\downloads\downloads'

    f'Hello {name}'

In [55]:
print(f'My name is {name}. I am from {city_from}. Currently living in {living}')

My name is Siraj. I am from Lucknow. Currently living in Banglore

    Operators

    Arithmatic 
        +
        -
        *
        /
        %
        //

In [56]:
2+2

4

In [57]:
5-6

-1

In [58]:
5*7

35

    Dividend = Divisor x Quotient + Remainder

In [59]:
7/5

1.4

In [61]:
7//5

1

In [60]:
7%5

2

    Comparison Operator

In [62]:
1==1

True

In [63]:
1>1

False

    Assignment 
     =
     a=5
     

    Comparison
     = =

In [64]:
print(2<3)  # Less Than
print(2>3)  # Greater Than
print(3<=3) # Less Than Equal To
print(3<=4) # Less Than Equal To
print(3>=2) # Greater Than Equal To
print(3==3) # Equal To
print(4==3) # Equal To
print(4!=3) # Not Equal To
print(3!=3) # Not Equal To

True
False
True
True
True
True
False
True
False

    Logical Operator
        not
        or
        and

In [65]:
True

True

In [66]:
not True

False

In [67]:
not False

True

In [68]:
print( not False)

True

In [69]:
1==1 or 1>1 or 1<1

True

In [71]:
1==1 and 1>=1 and 1<=1

True

    Select * 
    from Employee
    where emp_id in (1,2,3,4)

In [73]:
name='Siraj'

In [75]:
'S' in name

True

In [76]:
'Z' in name

False

In [77]:
a = 2
b = 2
print('a=',id(a))
print('b=',id(b))

a= 140703326091736
b= 140703326091736

In [78]:
a = 2
b = 2
print('a=',id(a))
print('b=',id(b))
print('a is b -->>',a is b)

a= 140703326091736
b= 140703326091736
a is b -->> True

In [79]:
b = 25
print('old a=',id(a))
print('new b=',id(b))
print('a is b -->>',a is b)

old a= 140703326091736
new b= 140703326092472
a is b -->> False