    String Formatting
    String function
    Slicing
        String

    List
        List Function
    Tuple
    Set
    Dictionary

    print() => To print => Give Output
    input()

In [1]:
input()

'Siraj'

In [2]:
input('Enter the Name : ')

'Siraj'

In [3]:
name=input('Name: ')
age=int(input('Age: '))
gender=input('Gender: ')
mobile=int(input("Mobile: "))

In [4]:
print('My name is ',name,'I am ',age, 'old.')

My name is  Siraj I am  26 old.

In [5]:
print(f'My name is {name}. I am {age} years old. My mobile Number is {mobile}.')

My name is Siraj. I am 26 years old. My mobile Number is 987456123.

    C
    %s => String
    %d => Integer
    %f => Float

In [7]:
print('My name is %s. I am %d years old. My mobile Number is %d.'%(name,age,mobile))

My name is Siraj. I am 26 years old. My mobile Number is 987456123.

    format()

In [16]:
print('My name is {}. I am {} years old. My mobile Number is {}.'.format(name,mobile,mobile))

My name is Siraj. I am 987456123 years old. My mobile Number is 987456123.

In [17]:
# upper(): Converts all lowercase characters in a string into uppercase
x='mango'

print(x.upper())

MANGO

In [18]:
# lower(): Converts all uppercase characters in a string into lowercase
x='MANGO'
print(x.lower())

mango

In [19]:
name='siraj ali'

In [20]:
name.capitalize()

'Siraj ali'

In [33]:
password='Siraj1'

    Alphabets   => a-z A-Z
    Numbers => 0-9
    Special Characters => _ space tab \n 

    Alphanumeric => a-z A-Z 0-9

In [34]:
password.isalnum()

True

In [37]:
'password'.isalpha()

True

In [38]:
'123456'.isdigit()

True

In [39]:
a='India'
b='9875'
c='book1'

In [40]:
a.isalpha()

True

In [41]:
b.isalpha(),c.isalpha()

(False, False)

In [42]:
a.isdigit(),b.isdigit(),c.isdigit()

(False, True, False)

In [43]:
a.isalnum(),b.isalnum(),c.isalnum()

(True, True, True)

In [44]:
d='Siraj_ali123'

In [45]:
d.isalpha(),d.isdigit(),d.isalnum()

(False, False, False)

    Slicing
        <variable_name>[index]
        <variable_name>[start_index:end_index]
        <variable_name>[start_index:end_index:step]
        8 => end_index => 8+1
        
        
        name[0]
        name[6:9]
        name[6:9:2]

        Default Value
            start_index => 0
            End_index => length
            Step => 1

In [46]:
name='Virat Kohli'

In [53]:
name[0:11:2]

'VrtKhi'

In [54]:
name[::2]

'VrtKhi'

In [55]:
name[::]

'Virat Kohli'

In [51]:
name[0]

'V'

In [52]:
name[6]

'K'

In [47]:
name

'Virat Kohli'

In [48]:
name[6:9]

'Koh'

In [49]:
name[3:5]

'at'

In [50]:
name[4:7]

't K'

In [56]:
st='Welcome to India'

In [60]:
st[11:]

'India'

In [61]:
st[8:10]

'to'

In [62]:
len(st)

16

In [66]:
st[-5:]

'India'

In [67]:
st[-8:-6]

'to'

In [69]:
st[-16:-9:2]

'Wloe'

In [71]:
st[6:2:-1]

'emoc'

    Types of indexing
        Positive
        Negative
    Direction of traversing
        Positive Step
            Left to Right
        Negative Step
            Right to Left

In [72]:
name='Siraj'

    Write a python script to print reverse

In [73]:
name[::]

'Siraj'

    -1 -2 -3 -4 -5

    start = -1
    end   = -5
    step  = -1

In [77]:
name[-1:-6:-1]

'jariS'

    Data Structure
        List => collection of elements separated by comma and enclosed in square brackets []
        Tuple
        Set
        Dictionary
        Array

In [78]:
lst1=[True, False , 0 ,-1,45.6,-9.45,'India','a']
lst1

[True, False, 0, -1, 45.6, -9.45, 'India', 'a']

In [79]:
lst2=[lst1,0,True,'Acciojob']
lst2

[[True, False, 0, -1, 45.6, -9.45, 'India', 'a'], 0, True, 'Acciojob']

In [80]:
type(lst2)

list

In [81]:
lst1[2]

0

In [82]:
lst1[-6]

0

In [83]:
lst1[0:8:2]

[True, 0, 45.6, 'India']

In [84]:
lst1[::2]

[True, 0, 45.6, 'India']

In [85]:
lst1[-1:-8:-2]

['a', -9.45, -1, False]

    List
        list()
        type()
        append()
        pop()

In [92]:
lst1

[True, False, 0, -1, 45.6, -9.45, 'India', 'a', 'QWERTY']

In [93]:
len(lst1)

9

In [94]:
lst1.pop()

'QWERTY'

In [95]:
lst1

[True, False, 0, -1, 45.6, -9.45, 'India', 'a']

In [96]:
lst1.pop(3)

-1

In [97]:
lst1

[True, False, 0, 45.6, -9.45, 'India', 'a']

In [87]:
lst1.append('QWERTY')

In [88]:
lst1

[True, False, 0, -1, 45.6, -9.45, 'India', 'a', 'QWERTY']

In [89]:
ls1=[1,2,3,4]
ls2=[5,6]

In [90]:
ls1+5

TypeError: can only concatenate list (not "int") to list

In [91]:
ls1+[5]

[1, 2, 3, 4, 5]

In [100]:
even_lst=[22,4,6,8,10,12,14,16,18,20]
even_lst

[22, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [101]:
even_lst.sort()

In [102]:
even_lst

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [103]:
even_lst.sort(reverse=True)

In [104]:
even_lst

[22, 20, 18, 16, 14, 12, 10, 8, 6, 4]

    What is the difference between extend and append in list

In [105]:
lst1

[True, False, 0, 45.6, -9.45, 'India', 'a']

In [106]:
lst1.append(even_lst)

In [107]:
lst1

[True,
 False,
 0,
 45.6,
 -9.45,
 'India',
 'a',
 [22, 20, 18, 16, 14, 12, 10, 8, 6, 4]]

In [108]:
lst1.extend(even_lst)

In [109]:
lst1

[True,
 False,
 0,
 45.6,
 -9.45,
 'India',
 'a',
 [22, 20, 18, 16, 14, 12, 10, 8, 6, 4],
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4]

    Indexing
        String
        List

In [110]:
lst1.extend('Siraj')
lst1

[True,
 False,
 0,
 45.6,
 -9.45,
 'India',
 'a',
 [22, 20, 18, 16, 14, 12, 10, 8, 6, 4],
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 'S',
 'i',
 'r',
 'a',
 'j']

In [111]:
lst1.extend(1)
lst1

TypeError: 'int' object is not iterable

In [112]:
lst1.extend(1.2)
lst1

TypeError: 'float' object is not iterable

In [114]:
lst1.pop()
lst1

[True,
 False,
 0,
 45.6,
 -9.45,
 'India',
 'a',
 [22, 20, 18, 16, 14, 12, 10, 8, 6, 4],
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 'S',
 'i',
 'r',
 'a']

In [115]:
lst1.pop(7)
lst1

[True,
 False,
 0,
 45.6,
 -9.45,
 'India',
 'a',
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 'S',
 'i',
 'r',
 'a']

In [116]:
lst1.remove('India')
lst1

[True,
 False,
 0,
 45.6,
 -9.45,
 'a',
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 'S',
 'i',
 'r',
 'a']

In [117]:
lst1.insert(1,'India')
lst1

[True,
 'India',
 False,
 0,
 45.6,
 -9.45,
 'a',
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 'S',
 'i',
 'r',
 'a']

In [118]:
lst1_copy=lst1.copy()
lst1_copy

[True,
 'India',
 False,
 0,
 45.6,
 -9.45,
 'a',
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 'S',
 'i',
 'r',
 'a']

In [119]:
list1_copy=lst1
list1_copy

[True,
 'India',
 False,
 0,
 45.6,
 -9.45,
 'a',
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 'S',
 'i',
 'r',
 'a']

In [120]:
list1_copy.clear()
list1_copy

[]

In [121]:
list1_copy

[]

In [122]:
del list1_copy

In [123]:
list1_copy

NameError: name 'list1_copy' is not defined

In [126]:
a=5

In [128]:
lst1_copy[0]='Updated True'

In [129]:
lst1_copy

['Updated True',
 'India',
 False,
 0,
 45.6,
 -9.45,
 'a',
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 'S',
 'i',
 'r',
 'a']

In [130]:
name='Siraj'

    Mutable Data Structures
        List
        Dictionary
    Immutable
        tuple
        string

    Tuple
        ()
        We can't change/ update elements once it is defined

In [132]:
tup=(1,2,3)
tup

(1, 2, 3)

In [137]:
type(tup)

tuple

In [135]:
lst=[]
lst

[]

In [136]:
tup=()

In [138]:
tup1=1,

In [139]:
type(tup1)

tuple

In [141]:
tup2=True,0,'India'
tup2

(True, 0, 'India')

In [142]:
lst1_copy

['Updated True',
 'India',
 False,
 0,
 45.6,
 -9.45,
 'a',
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 'S',
 'i',
 'r',
 'a']

In [143]:
tup4=tuple(lst1_copy)
tup4

('Updated True',
 'India',
 False,
 0,
 45.6,
 -9.45,
 'a',
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 'S',
 'i',
 'r',
 'a')

In [149]:
tup4[7:16:2]

(22, 18, 14, 10, 6)

In [150]:
tup5=tup4[7:17]

In [145]:
tup4[4]

45.6

In [144]:
type(tup4)

tuple

In [151]:
tup5

(22, 20, 18, 16, 14, 12, 10, 8, 6, 4)

In [152]:
len(tup5)

10

In [153]:
tup5.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [154]:
dir(tup5)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [155]:
tup6=6,6,6,8,5,9,7,7,8
tup6

(6, 6, 6, 8, 5, 9, 7, 7, 8)

In [156]:
tup6.count(8)

2

In [157]:
tup6.index(8)

3

In [162]:
lst1_copy.append('Siraj')

In [159]:
lst1_copy.count(0)

2

In [164]:
lst1_copy

['Updated True',
 'India',
 False,
 0,
 45.6,
 -9.45,
 'a',
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 'S',
 'i',
 'r',
 'a',
 'Siraj']

In [163]:
lst1_copy.count('Siraj')

1

    Set

In [169]:
days={'Mon','Tue','Wed','Thur','Fri','Sat','Sun','Sun'} 
days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thur', 'Tue', 'Wed'}

In [172]:
no={5,7,2,3,1,1,1,1,1,1,1,1,1,1}
no

{1, 2, 3, 5, 7}

In [171]:
no[0]

TypeError: 'set' object is not subscriptable

In [173]:
set_A={1,2,5,6}
set_B={1,2,7,8}

In [174]:
set_A.union(set_B)

{1, 2, 5, 6, 7, 8}

In [176]:
set_A | set_B

{1, 2, 5, 6, 7, 8}

In [175]:
set_A.intersection(set_B)

{1, 2}

In [177]:
set_A & set_B

{1, 2}

In [178]:
set_A.difference(set_B)

{5, 6}

In [179]:
set_A - set_B

{5, 6}

In [180]:
set_A.symmetric_difference(set_B)

{5, 6, 7, 8}

In [181]:
set_A ^ set_B

{5, 6, 7, 8}

In [182]:
dir(set_A)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [210]:
a={22,75,1,2}
b={3,4}

In [208]:
a.pop()
a

KeyError: 'pop from an empty set'

In [211]:
a.add(' ')
a

{' ', 1, 2, 22, 75}

In [213]:
a.remove(22)

In [214]:
a.discard(5)

In [194]:
a

{2, 7}

In [189]:
a.add(7)
a

{1, 2, 7}

In [184]:
a.isdisjoint(b)

True

In [185]:
a={1,2,3,4}
b={1,2}

In [186]:
b.issubset(a)

True

In [187]:
a.issuperset(b)

True

In [215]:
a

{' ', 1, 2, 75}

In [216]:
a.update(1)

TypeError: 'int' object is not iterable

In [217]:
a.update('India')
a

{' ', 1, 2, 75, 'I', 'a', 'd', 'i', 'n'}

In [218]:
a.update([1,2,3,4])
a

{' ', 1, 2, 3, 4, 75, 'I', 'a', 'd', 'i', 'n'}

In [219]:
a.remove(4)
a.add(7)
a

{' ', 1, 2, 3, 7, 75, 'I', 'a', 'd', 'i', 'n'}