    Agenda
        Conditional Statements
            Simple If
            If Else
            Nested If
            elif Ladder
        Control Statements
            Loops
                While
                For
            break
            pass
            continue
        Exception Handling

    Equal to                    ==
    Not Equal To                ! =
    Less than                   <
    Greater Than                >
    Less or equal to            < =
    Greater than or equal to    > =

    if(logical_test,value_if_true,value_if_false)
        logical_test => Conditional Expression 
            Boolean 
                True
                False

    SImple If

    if <condition / logical_test>:
        <statement when logic is true>

In [1]:
1==1

True

In [2]:
1==2

False

In [5]:
if 1==1:
    print(1)
    print('Inside the if ')
print('Outside the if')

1
Inside the if
Outside the if

In [6]:
if 1==2:
    print(1)
    print('Inside the if ')
print('Outside the if')

Outside the if

    Else - If

    if <condition>:
        <statement if true>
    else:
        <statement if false>

    Check given no is even or not
    Check given no is prime

In [7]:
chk_no= int(input())
if chk_no % 2 ==0 :
    print('Given no if Even')
else:
    print("given number is odd")

given number is odd

    Write a python code to check whether given person is eligible for vote or not

In [8]:
age = int(input('Please enter the age as no'))
if age>=18:
    print('Eligible for Vote')
else:
    print("Not eligible for vote")

Eligible for Vote

In [9]:
if int(input('Please enter the age as no'))>=18:
    print('Eligible for Vote')
else:
    print("Not eligible for vote")

Eligible for Vote

    Nested If
    if <condition>
        // Code block for true condition
        if <condition>:
            // Code block for true condition
        else:
            // Code block for False condition
    else:
        // Code block for false condition
        if <condition>:
            // Code block for true condition
        else:
            // Code block for False condition

    Score	Grade
    100-89	A
    89-79	B
    79-69	C
    69-59	D
    <58	F

In [12]:
marks=float(input('Please enter you marks as number'))
if marks>=89:
    print("Grade A")
else:
    if marks >=79:
        print("Grade B")
    else:
        if marks >=69:
            print("Grade C")
        else:
            if marks>=59:
                print("Grade D")
            else:
                print("Grade E")

Grade C

    Elif Ladder
    if <condition>:
        <code if true>
    elif <condition>:
        <code if true>
    elif <condition>:
        <code if true>
    elif <condition>:
        <code if true>
    elif <condition>:
        <code if true>
    elif <condition>:
        <code if true>
    elif <condition>:    
        <code if true>
    else:                                       #optional
        <code if false or no condition was met>

In [18]:
marks=float(input('Please enter you marks as number'))
if marks>=89:
    print("Grade A")
elif marks >=79:
    print("Grade B")
elif marks >=69:
    print("Grade C")
elif marks>=59:
    print("Grade D")
else:
    print("Grade E")

Grade A

In [15]:
int(74.5)

74

In [16]:
int(74.2)

74

In [17]:
int(74.9)

74

    A school has a grading system based on age group and score. The grading rules are as follows:
    For students aged 10 or below, the grades are:
        Score above 90: Grade A
        Score between 80 and 90: Grade B
        Score below 80: Grade C

    For students above age 10, the grades are:
        Score above 80: Grade A
        Score between 70 and 80: Grade B
        Score below 70: Grade C

In [19]:
age=int(input('Enter age as number'))
score = float(input('Please enter score of your exam: '))

if age<=10:
    if score >90:
        print("Grade A")
    elif score >=80:
        print ("Grade B")
    else:
        print ("Grade C")
else:    
    if score >80:
        print("Grade A")
    elif score >=70:
        print ("Grade B")
    else:
        print ("Grade C")

Grade A

In [ ]:
age=int(input('Enter age as number'))
score = float(input('Please enter score of your exam: '))

if age<=10:
    if score >90:
        print("Grade A")
    elif score >=80:
        print ("Grade B")
    else:
        print ("Grade C")
elif age>10:   
    if score >80:
        print("Grade A")
    elif score >=70:
        print ("Grade B")
    else:
        print ("Grade C")

In [24]:
if 1==1:

SyntaxError: incomplete input (3673924097.py, line 1)

In [26]:
if 1==1:
    pass

    A company has a bonus system for its employees based on their years of service and their annual performance review rating. The rules for bonus allocation are as follows:

    Employees with less than 2 years of service receive no bonus, regardless of performance rating.

    Employees with 2 to 5 years of service receive a bonus based on their performance rating:
    "Excellent" rating: 10% of their annual salary.
    "Good" rating: 5% of their annual salary.    
    Other ratings: no bonus.
    
    Employees with more than 5 years of service receive a bonus based on their performance rating:
    "Excellent" rating: 15% of their annual salary plus a $500 loyalty bonus.
    "Good" rating: 10% of their annual salary.
    Other ratings: 2% of their annual salary as a goodwill bonus.

In [29]:
yr_of_service=int(input())
rating=input('Enter Rating')
bonus_percentage=0
no_bonus='Better Luck Next Time !!'

# we are checking the Bonus Percentage
if yr_of_service > 5:
    if rating=='Excellent':
        bonus_percentage=15
    elif rating=='Good': 
        bonus_percentage=10  
    else:
        bonus_percentage=2 
elif yr_of_service>=2:    
    if rating=='Excellent':
        bonus_percentage=10
    elif rating=='Good': 
        bonus_percentage=5 
    else:
        print(no_bonus)
else:
    print(no_bonus) 
    
# we are checking whom to give loyalty bonus

if yr_of_service > 5 and rating=='Excellent':
    bonus=f'You are eligible for {bonus_percentage} increment. Plus 500 loyalty bonus'
else:    
    bonus=f'You are eligible for {bonus_percentage} increment.'
print(bonus)

You are eligible for 15 increment.Plus 500 loyalty bonus

In [ ]:
yr_of_service=int(input())
rating=input('Enter Rating')

# we are checking the Bonus Percentage
if yr_of_service > 5:
    if rating=='Excellent':
        print('You are eligible for 15 increment. Plus 500 loyalty bonus')
    elif rating=='Good': 
        print('You are eligible for 10 increment.')
    else:
        print('You are eligible for 2 increment.')
elif yr_of_service>=2:    
    if rating=='Excellent':
        print('You are eligible for 10 increment.s')
    elif rating=='Good': 
        print('You are eligible for 5 increment.') 
    else:
        print('Better Luck Next Time !!') 
else:
    print('Better Luck Next Time !!')

    Control Statements
        Loops
            Repeatition
            Pattern
        While
            initialization => start point
            condition/Iterable    => stop point
            Iteration =>    How many times this loop will run
        For 
            initialization => start point
            condition/Iterable    => stop point

In [30]:
print(1)
print(2)
print(3)
print(4)

1
2
3
4

    Increment / Decerement

In [31]:
x=5
x

5

In [34]:
x=x+2
x

11

In [40]:
x=x-2
x

-1

In [ ]:
x=x+2 
x+=2

In [45]:
x

-5

In [44]:
x-=2

    range()
    age_group 10-20
    11 12 13 14 15 16 17 18 19 

    range(start_value,end_value+1)

    for <initialization_variable> in <iterable /range()>:
        <code block for loop>

    Through Range()

In [48]:
for i in range(1,5):
    print(i)

1
2
3
4

In [49]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [50]:
st='siraj'

In [51]:
st[2]

'r'

In [ ]:
for i in weekdays:
    print(i)

    Through List

In [53]:
for siraj in weekdays:
    print(siraj)

Monday
Tuesday
Wednesday
Thursday
Friday

    Through Tuple

In [54]:
tup_weekdays=tuple(weekdays)
tup_weekdays

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [55]:
for tup in tup_weekdays:
    print(tup)

Monday
Tuesday
Wednesday
Thursday
Friday

    through Dictionary

In [59]:
dict(zip(tup_weekdays,weekdays))

{'Monday': 'Monday',
 'Tuesday': 'Tuesday',
 'Wednesday': 'Wednesday',
 'Thursday': 'Thursday',
 'Friday': 'Friday'}

In [61]:
demo_dct={
    "name": "John Doe",
    "age": 30,
    "occupation": "Software Developer",
    "hobbies": ["Reading", "Cycling", "Photography"],
    "location": {
        "city": "New York",
        "country": "USA"
    },
    "education": {
        "degree": "Bachelor's in Computer Science",
        "university": "MIT"
    },
    "languages": ["English", "Spanish", "French"]
}

In [62]:
demo_dct.keys()

dict_keys(['name', 'age', 'occupation', 'hobbies', 'location', 'education', 'languages'])

In [63]:
demo_dct.values()

dict_values(['John Doe', 30, 'Software Developer', ['Reading', 'Cycling', 'Photography'], {'city': 'New York', 'country': 'USA'}, {'degree': "Bachelor's in Computer Science", 'university': 'MIT'}, ['English', 'Spanish', 'French']])

In [64]:
for i in demo_dct:
    print(i)

name
age
occupation
hobbies
location
education
languages

In [65]:
for i in demo_dct.keys():
    print(i)

name
age
occupation
hobbies
location
education
languages

In [66]:
for i in demo_dct.values():
    print(i)

John Doe
30
Software Developer
['Reading', 'Cycling', 'Photography']
{'city': 'New York', 'country': 'USA'}
{'degree': "Bachelor's in Computer Science", 'university': 'MIT'}
['English', 'Spanish', 'French']

In [67]:
demo_dct={
    "name": "John Doe",
    "age": 30,
    "occupation": "Software Developer"
}

In [68]:
for i in demo_dct.items():
    print(i)

('name', 'John Doe')
('age', 30)
('occupation', 'Software Developer')

In [69]:
for key,value in demo_dct.items():
    print(f'Key => {key} | Value => {value}')

Key => name | Value => John Doe
Key => age | Value => 30
Key => occupation | Value => Software Developer

In [70]:
for key,value in demo_dct:
    print(f'Key => {key} | Value => {value}')

ValueError: too many values to unpack (expected 2)

In [71]:
demo_dct.{key():value()}

SyntaxError: invalid syntax (3845338182.py, line 1)

    Through Set

In [79]:
set_1={1,1,5,9,5,9,5,9,2,4,3,9,4,2,64,2,6,2,6,5,2,6,5,6}
set_1

{1, 2, 3, 4, 5, 6, 9, 64}

In [74]:
set_1[1]

TypeError: 'set' object is not subscriptable

In [80]:
for i in set_1:
    print(i)

64
1
2
3
4
5
6
9

In [81]:
st= 'Python'

In [82]:
for i in st:
    print(i)

P
y
t
h
o
n

In [83]:
import array as ar

In [95]:
arr_1=ar.array('s',set_1)
arr_1

ValueError: bad typecode (must be b, B, u, h, H, i, I, l, L, q, Q, f or d)

In [87]:
arr_1[2]

2.0

In [86]:
for i in arr_1:
    print(i)

64.0
1.0
2.0
3.0
4.0
5.0
6.0
9.0

    2 4 6 8 10 12

In [102]:
for i in range(2,13,2):
    print(i)

2
4
6
8
10

In [96]:
for i in range(1,16):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [97]:
st='Welcome to Python'

    st[start_index:end_index+1:step]

    start_index => 0
    end_index => len(iterable)
    step => 1

In [98]:
st[::2]

'Wloet yhn'

In [104]:
for i in range(5):
    print(i)

0
1
2
3
4

In [105]:
for i in range(0,5,1):
    print(i)

0
1
2
3
4

    *
    **
    ***
    ****
    *****

In [106]:
for i in range(7):
    print("*")

*
*
*
*
*
*
*

In [107]:
print('*******')

*******

In [109]:
for i in range(7):
    print('*',end='\n')

*
*
*
*
*
*
*

In [110]:
for i in range(7):
    print('*',end='')

*******

In [111]:
for i in range(5):
    print(i)

0
1
2
3
4

In [112]:
for i in range(5):
    print(i,end='')

01234

In [118]:
for row in range(5):
    print(f'Row => {row}')
    for col in range(5):
        print(col,end='')
    print()
    print('=================')

Row => 0
01234
=================
Row => 1
01234
=================
Row => 2
01234
=================
Row => 3
01234
=================
Row => 4
01234
=================

In [125]:
for row in range(5):
    for col in range(5):
        print(f'Iteration => {row} ({row},{col})',end=' ')
    print()

Iteration => 0 (0,0) Iteration => 0 (0,1) Iteration => 0 (0,2) Iteration => 0 (0,3) Iteration => 0 (0,4)
Iteration => 1 (1,0) Iteration => 1 (1,1) Iteration => 1 (1,2) Iteration => 1 (1,3) Iteration => 1 (1,4)
Iteration => 2 (2,0) Iteration => 2 (2,1) Iteration => 2 (2,2) Iteration => 2 (2,3) Iteration => 2 (2,4)
Iteration => 3 (3,0) Iteration => 3 (3,1) Iteration => 3 (3,2) Iteration => 3 (3,3) Iteration => 3 (3,4)
Iteration => 4 (4,0) Iteration => 4 (4,1) Iteration => 4 (4,2) Iteration => 4 (4,3) Iteration => 4 (4,4)

In [126]:
for row in range(5):
    for col in range(5):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *