    While
    break
    continue
    Comprehension
        List
        Tuple
        Dict
        Zip

    Exception Handling

    Functions
    Types of functions
    Calling of the function
    Types of Parameter

    Global and Local Variable

    Initialization
    Condition
    Iteration

    What is the difference between For loop and while loop

    For Loop is used when we havae finite/fixed no of iteration
    While Loop is used when we do not have fixed number of iterations. It will keep on executing
    until the condition becomes false.

    1. In a for loop, you need to specify how many times the code block will 
    be executed in advance whereas in a while loop, it's determined dynamically
    during runtime.

    2. The syntax of both loops are different. A for loop consists of an optional initializer   
    expression (which runs once before the first iteration), a condition expression
    (which tests if the loop should continue or not - this decides whether another
    iteration should occur), and an increment/decrement expression which executes after each iteration.
    On the other hand, a while loop only has a single condition expression that must evaluate
    to True or False at every test; no expressions are evaluated before or after each iteration.

    Syntax

        for <initialization> in <iterable>:
            <for loop block>

        Iterable  => 
            list 
            string 
            tuple 
            dictionary 
            set 
            Series 
            DataFrame 
            Array 
            Numpy Array
        range()
        enumerate() => we want iterable value as weel as the index

In [4]:
even_lst=[]
for i in range(2,21,2):
    even_lst.append(i)
even_lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
for no in even_lst:
    print(no)

2
4
6
8
10
12
14
16
18
20

In [6]:
for idx,val in enumerate(even_lst):
    print(f'Index => {idx}\t Value => {val}')

Index => 0	 Value => 2
Index => 1	 Value => 4
Index => 2	 Value => 6
Index => 3	 Value => 8
Index => 4	 Value => 10
Index => 5	 Value => 12
Index => 6	 Value => 14
Index => 7	 Value => 16
Index => 8	 Value => 18
Index => 9	 Value => 20

    Comprehension
        List 
            [ele for <initilization> in <iterable> ]
        dict        
            [key:value for key,value in <iterable> ]

In [7]:
odd_lst=[1,2,3,5]

In [ ]:
even_lst=[]
for i in range(2,21,2):
    even_lst.append(i)
even_lst

In [9]:
even_lst=[ i for i in range(2,20,2)]
even_lst

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
for i in range(5):
    print(i**2)

0
1
4
9
16

In [12]:
sqr_lst=[i**2 for i in range(5)]
sqr_lst

[0, 1, 4, 9, 16]

In [14]:
sqr_tup=tuple(i**2 for i in range(5))
sqr_tup

(0, 1, 4, 9, 16)

In [15]:
dict_even_lst={key:value for key,value in enumerate(even_lst)}
dict_even_lst

{0: 2, 1: 4, 2: 6, 3: 8, 4: 10, 5: 12, 6: 14, 7: 16, 8: 18}

In [16]:
dict_even_lst.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [17]:
dict_even_lst.values()

dict_values([2, 4, 6, 8, 10, 12, 14, 16, 18])

In [19]:
list(dict_even_lst.keys())

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
list(dict_even_lst.values())

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
zip(list(dict_even_lst.keys()),list(dict_even_lst.values()))

In [22]:
list(zip(list(dict_even_lst.keys()),list(dict_even_lst.values())))

[(0, 2), (1, 4), (2, 6), (3, 8), (4, 10), (5, 12), (6, 14), (7, 16), (8, 18)]

In [23]:
tuple(zip(list(dict_even_lst.keys()),list(dict_even_lst.values())))

((0, 2), (1, 4), (2, 6), (3, 8), (4, 10), (5, 12), (6, 14), (7, 16), (8, 18))

In [24]:
dict_even_lst.items()

dict_items([(0, 2), (1, 4), (2, 6), (3, 8), (4, 10), (5, 12), (6, 14), (7, 16), (8, 18)])

In [25]:
dict(zip(list(dict_even_lst.keys()),list(dict_even_lst.values())))

{0: 2, 1: 4, 2: 6, 3: 8, 4: 10, 5: 12, 6: 14, 7: 16, 8: 18}

In [26]:
name=['Siraj','Ali','Sohel']
marks=[8,7,9]

In [27]:
dict(zip(name,marks))

{'Siraj': 8, 'Ali': 7, 'Sohel': 9}

    initialization
    condition
    iterable

    While
        initialization
        while <condition>:
            <while block>
            <iteration>

In [ ]:
no=1
while no <=5:
    print(no)

In [29]:
no=1
while no <=5:
    print(no)
    no=no+1

1
2
3
4
5

In [30]:
no=1
while no <=5:
    print(no)
    no=no+0.5

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0

In [31]:
no=1
while no <=5:
    print(no)
    no=no+0.25

1
1.25
1.5
1.75
2.0
2.25
2.5
2.75
3.0
3.25
3.5
3.75
4.0
4.25
4.5
4.75
5.0

In [32]:
no=1
while no <=5:
    print(no)
    no+=0.25

1
1.25
1.5
1.75
2.0
2.25
2.5
2.75
3.0
3.25
3.5
3.75
4.0
4.25
4.5
4.75
5.0

In [33]:
no=1
while no <=5:
    print(no)
    no+=1

1
2
3
4
5

In [36]:
no=1
while no <=10:
    if no%3==0:
        break
    print(no)
    no+=1

1
2

In [42]:
no=0
while no <=9:   
    no+=1
    if no%3==0:
        continue
    else:            
        print(no)

1
2
4
5
7
8
10

In [69]:
wanted='sohel'
blaklisted=['a','b','c']
attend =list(set(['y','z','d',1,5]+blaklisted+[wanted]))
attend

['c', 1, 'd', 5, 'sohel', 'z', 'a', 'y', 'b']

In [70]:
for i in attend:
    print(i)

c
1
d
5
sohel
z
a
y
b

In [71]:
for i in attend:
    if i not in blaklisted+[wanted]:
        print(f'Allowed => {i}')

Allowed => 1
Allowed => d
Allowed => 5
Allowed => z
Allowed => y

In [57]:
blaklisted+[wanted]

['a', 'b', 'c', 'sohel']

In [56]:
for i in attend:
    if i ==wanted:
        break
    elif i not in blaklisted+[wanted]:
        print(f'Allowed => {i}')

Allowed => 1
Allowed => d
Allowed => 5

In [74]:
['c', 1, 'd', 5, 'sohel', 'z', 'a', 'y', 'b']

['c', 1, 'd', 5, 'sohel', 'z', 'a', 'y', 'b']

In [73]:
for i in attend:
    print(f'Checking => {i}')
    if i ==wanted:
        break
    elif i in blaklisted:
        print(f'Arrest for Interrogation {i}')
        continue
    elif i not in blaklisted+[wanted]:
        print(f'Allowed => {i}')

Checking => c
Arrest for Interrogation c
Checking => 1
Allowed => 1
Checking => d
Allowed => d
Checking => 5
Allowed => 5
Checking => sohel

    we have to print nos from 1 to 20
        if we are getting multiple of 10 we have to break the loop
        if we are getting multiple of 3 we have to skip the iteration

In [63]:
for i in range(1,21):
    if i%10==0:
        break
    if i %3==0:
        continue
    else:
        print(i)

1
2
4
5
7
8

In [64]:
for i in range(1,21):
    if i %3==0:
        continue
    else:
        print(i)    
    if i%10==0:
        break

1
2
4
5
7
8
10

    Syntax:

        try:
            <block of code you want to check>
        except <Define the exception>:
            <handle the exception>
        finally:
            <Finally block>

In [75]:
no=int(input('Please enter a no'))
print(no)

ValueError: invalid literal for int() with base 10: 'a'

In [76]:
try:
    no=int(input('Please enter a no'))
    print(no)
except ValueError:
    print("Invalid input. Please enter a valid integer.")

Invalid input. Please enter a valid integer.

In [79]:
try:
    no1=int(input('Please enter a no'))
    no2=int(input('Please enter a no'))
    print(f'First No => {no1} \nSecond No => {no2}')
    print(no1/no2)
except ValueError:
    print("Invalid input. Please enter a valid integer.")

First No => 5
Second No => 15
0.3333333333333333

In [80]:
try:
    no1=int(input('Please enter a no'))
    no2=int(input('Please enter a no'))
    print(f'First No => {no1} \nSecond No => {no2}')
    print(no1/no2)
except ValueError:
    print("Invalid input. Please enter a valid integer.")

First No => 5
Second No => 0

ZeroDivisionError: division by zero

In [81]:
try:
    no1=int(input('Please enter a no'))
    no2=int(input('Please enter a no'))
    print(f'First No => {no1} \nSecond No => {no2}')
    print(no1/no2)
except ValueError:
    print("Invalid input. Please enter a valid integer.") 
except ZeroDivisionError as e:
    print(f"We got error => {e}\nPlease provide non-zero value.")

First No => 5
Second No => 0
We got error => division by zero
Please provide non-zero value.

In [89]:
try:
    no1=int(input('Please enter a no'))
    no2=int(input('Please enter a no'))
    print(f'First No => {no1} \nSecond No => {no2}')    
    print(no3)
    print(no1/no2)
except ValueError:
    print("Invalid input. Please enter a valid integer.") 
except ZeroDivisionError as e:
    print(f"We got error => {e}\nPlease provide non-zero value.")
finally:
    print("This is the end of program")

First No => 5
Second No => 0
This is the end of program

NameError: name 'no3' is not defined

In [86]:
try:
    no1=int(input('Please enter a no'))
    no2=int(input('Please enter a no'))
    print(f'First No => {no1} \nSecond No => {no2}')
    print(no1/no2)
    print(no3)
except ValueError:
    print("Invalid input. Please enter a valid integer.") 
except ZeroDivisionError as e:
    print(f"We got error => {e}\nPlease provide non-zero value.")
except Exception as e:
    print(f'We got error  => {e}')
finally:
    print("This is the end of program")

First No => 5
Second No => 6
0.8333333333333334
We got error  => name 'no3' is not defined

In [100]:
no=1
no2=3
print(no+no2)
no3=7
no4=8
print(no3+no4)
no5=77
no6=85
print(no5+no6)

4
15
162

    Function
        Definition
        Calling
    Syntax

        def <function_name>(<parameter list> #optional):
            <Block of code>
            return <variable> #optional
            
        <fucntion_name>(parameter_list)

In [101]:
def greet():
    print("Hello")

In [102]:
greet()

Hello

In [ ]:
print()

    Functions
        Built In
            print()
            input()
            mean()
            split()
        User Defined Function
            Created by user

In [107]:
def greet_morning():
    print('Good Morniing')
    
def greet_afternoon():
    print('Good Afternoon')
    
def greet_evening():
    print('Good Evening')    

def greet_night():
    print('Good Night')
    
print('Start')
greet_morning()
print('12:00 PM')
greet_afternoon()
print('Time for Snacks')
greet_evening()
print('Time to sleep')
greet_night()
print('End')

Start
Good Morniing
12:00 PM
Good Afternoon
Time for Snacks
Good Evening
Time to sleep
Good Night
End

    No Parameter    No Return
    Parameter       No Return
    No Parameter    Return
    Parameter       Return

    No Parameter    No Return

In [108]:
def greet():
    print('Hello')
greet()

Hello

    Parameter       No Return

In [109]:
def greet_name(name):
    print("Hello, " + name)
greet_name()

TypeError: greet_name() missing 1 required positional argument: 'name'

In [110]:
def greet_name(name):
    print("Hello, " + name)
greet_name('Ali')

Hello, Ali

In [111]:
def greet_name_r(name):
    return f'Hello {name}'

In [112]:
greet_name('Ali')

Hello, Ali

In [113]:
result=greet_name_r('Ali')
result

'Hello Ali'

In [114]:
type(result)

str

In [122]:
def greet_name(name):
    print("Hello, " + name)
    print("Hello, " + name)
    print("Hello, " + name)
    print("Hello, " + name)
    print("Hello, " + name)
    print("Hello, " + name)
    print("Hello, " + name)
greet_name('Ali')

Hello, Ali
Hello, Ali
Hello, Ali
Hello, Ali
Hello, Ali
Hello, Ali
Hello, Ali

In [121]:
result=greet_name('Ali')
type(result)

Hello, Ali

NoneType

In [132]:
def take_input():
    num1=input()
    num2=input()  
    return num1,num2

In [136]:
take_input()

('1', '2')

In [134]:
result=take_input()
result

('1', '2')

In [137]:
r_num1,r_num2=take_input()
print(r_num1,r_num2)

1 2

In [138]:
def take_input():
    num1=2
    num2=5 
    num3=7
    return num1,num2 ,num3

In [139]:
take_input()

(2, 5, 7)

In [141]:
a,b,c=take_input()
print(a,b,c)

2 5 7

In [144]:
def take_input():
    num1=2
    num2=5 
    num3=7
    return f'No  1 => {num1},No 2 => {num2} ,No 3 => {num3}'

In [145]:
res=take_input()
res

'No  1 => 2,No 2 => 5 ,No 3 => 7'

In [146]:
res1,res2=take_input()

ValueError: too many values to unpack (expected 2)

    Types of Parameter
        Positional argument
        Default argument
        Keyword

In [147]:
def greet(name,age):
    print(f'Name => {name}\tAge => {age}')

In [148]:
greet()

TypeError: greet() missing 2 required positional arguments: 'name' and 'age'

In [149]:
greet('Ali',26)

Name => Ali	Age => 26

In [150]:
greet(26,'Ali')

Name => 26	Age => Ali

In [152]:
greet(age=26,name='Ali')

Name => Ali	Age => 26

In [153]:
def greet(name,designation,city):
    print(f'Hello, {name} from {city}. Designation => {designation}')

In [154]:
greet('Ali','Senior Analyst','Lucknow')

Hello, Ali from Lucknow. Designation => Senior Analyst

In [155]:
greet('Ali','Lucknow','Senior Analyst')

Hello, Ali from Senior Analyst. Designation => Lucknow

In [156]:
greet(name='Ali',city='Lucknow',designation='Senior Analyst')

Hello, Ali from Lucknow. Designation => Senior Analyst

In [157]:
def greet_senior_analyst(name,city,designation='Senior Analyst'):
    print(f'Hello, {name} from {city}. Designation => {designation}')

In [158]:
greet(name='Ali',city='Lucknow',designation='Senior Analyst')

Hello, Ali from Lucknow. Designation => Senior Analyst

In [160]:
greet_senior_analyst('Ali','Lucknow')

Hello, Ali from Lucknow. Designation => Senior Analyst

In [161]:
greet_senior_analyst('Ali','Lucknow','Data Engineer')

Hello, Ali from Lucknow. Designation => Data Engineer

In [162]:
print(1)
print(2)

1
2

In [163]:
print(1,end='\n')
print(2)

1
2

In [164]:
print(1,end='\t')
print(2)

1	2

In [165]:
even_lst=[i for i in range(0,20,2)]
even_lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [166]:
for i in even_lst:
    print(i)

0
2
4
6
8
10
12
14
16
18

In [168]:
for i in range(len(even_lst)):
    print(i,even_lst[i])

0 0
1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18

In [171]:
for idx,val in enumerate(tuple(even_lst)):
    print(idx,val)

0 0
1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18

In [174]:
for i in enumerate(dict_even_lst.values()):
    print(i)

(0, 2)
(1, 4)
(2, 6)
(3, 8)
(4, 10)
(5, 12)
(6, 14)
(7, 16)
(8, 18)